<footer class="site-footer">
    <div class="text-center">
        @DateTime.Now.Year - CMS NAAN Solution
        <a href="#top" class="go-top">
            <i class="fa fa-angle-up">
            </i>
        </a>
    </div>
</footer>