<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=DESKTOP-PKS4NDH;Initial Catalog=BetterCmsDemoGlobal;User Id=sa;Password=123456" providerName="System.Data.SqlClient" />

  <!--<add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=BetterCmsDemoGlobal;Integrated Security=SSPI" />-->
</connectionStrings>

<!--<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=BetterCmsDemoGlobal;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>-->