
@{
    ViewBag.Title = "Special Offers";
}
<link href="~/Content/css/SpecialOffers/SpecialOffers.css" rel="stylesheet" />


<section class="nas-room">
    <section class="banner-img promotion">
        <div class="overlay-black"></div>
        <div class="text text-center name-room-hotel">
            <h2>Special Offers</h2>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>
    </section>
</section>
<div class="margin-content">
    <section class="yaw-introduce-promotion">
        <div class="padding-content">
            <h1>Introduce</h1>
            <p>
                Be the first to experience a new level of architecture and benefit from the You & We hotel Soft opening promotion save up to 20%. Stay period from December 18, 2016 till February 18,2017.
            </p>
            <h5 style="margin:15px 0 10px;"><strong>Soft Opening – 20% off</strong></h5>
            <ul>
                <li><span class="glyphicons glyphicons-tick"></span>Complimentary daily buffet breakfast</li>
                <li><span class="glyphicons glyphicons-tick"></span>Complimentary welcome drink</li>
                <li><span class="glyphicons glyphicons-tick"></span>Free early check in</li>
                <li><span class="glyphicons glyphicons-tick"></span>Free late check out</li>
                <li><span class="glyphicons glyphicons-tick"></span>Free access to Elite gym</li>
                <li><span class="glyphicons glyphicons-tick"></span>Free internet access</li>
            </ul>
        </div>
    </section>
    <section class="yaw-promotion">
        <div class="col-md-6 col-xs-12 box-promotion">
            <p class="hover-img"><a href=""><img src="~/Images/promotion/promotion-1.jpg" /></a></p>
            <span class="posted-day">
                <strong>15</strong>
                DEC
            </span>
            <div class="promotion-header">
                <h3><a href="#">Buffet on the Beach</a></h3>
            </div>
            <div class="promotion-content">
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 box-promotion">
            <p class="hover-img"><a href=""><img src="~/Images/promotion/promotion-2.jpg" /></a></p>
            <span class="posted-day">
                <strong>16</strong>
                JUN
            </span>
            <div class="promotion-header">
                <h3><a href="#">Pool Party In Summer</a></h3>
            </div>
            <div class="promotion-content">
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 box-promotion">
            <p class="hover-img"><a href=""><img src="~/Images/promotion/promotion-2.jpg" /></a></p>
            <span class="posted-day">
                <strong>18</strong>
                JAN
            </span>
            <div class="promotion-header">
                <h3><a href="#">Soft Opening – 20% off</a></h3>
            </div>
            <div class="promotion-content">
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 box-promotion">          
                <p class="hover-img"><a href=""><img src="~/Images/promotion/promotion-1.jpg" /> </a></p>
                <span class="posted-day">
                    <strong>17</strong>
                    AUG
                </span>
                <div class="promotion-header">
                    <h3><a href="#">Pool Party In Summer 2</a></h3>
                </div>
                <div class="promotion-content">
                    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
                </div>          
        </div>
    </section>
</div>