
@{
    ViewBag.Title = "Images";
}

<!--Breadcrumb Section-->
<section id="breadcrumb-section"
         data-bg-img="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/10689687_844348242274572_2045861632456205822_n.jpg?oh=6806d4fda26d86b588c86c2274ead2b3&oe=58BC5A50"
         style="background-image: url('https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/10689687_844348242274572_2045861632456205822_n.jpg?oh=6806d4fda26d86b588c86c2274ead2b3&oe=58BC5A50');">
    <div class="inner-container container">
        <div class="ravis-title">
            <div class="inner-box">
                <div class="title">
                    Gallery - Images
                </div>
                <div class="sub-title">Some description about your hotel</div>
            </div>
        </div>
    </div>
</section>
<!--End of Breadcrumb Section-->


<!-- Gallery -->
<section id="gallery">
    <div class="inner-container container">
        <!-- Gallery Container -->
        <div class="gallery-container">
            <div class="sort-section">
                <div class="sort-section-container">
                    <div class="sort-handle">Filters</div>
                    <ul class="list-inline">
                        <li>
                            <a href="/images" data-filter="*" class="active">All</a>
                        </li>
                        <li>
                            <a href="/images" data-filter=".allbumt-0" class="">Superior Room</a>
                        </li>
                        <li>
                            <a href="/images" data-filter=".allbumt-1" class="">Deluxe Room</a>
                        </li>
                        <li>
                            <a href="/images" data-filter=".allbumt-2" class="">City View Suite</a>
                        </li>
                        <li>
                            <a href="/images" data-filter=".allbumt-3" class="">Sea View Suite</a>
                        </li>
                        <li>
                            <a href="/images" data-filter=".allbumt-4" class="">Spa</a>
                        </li>
                        <li>
                            <a href="/images" data-filter=".allbumt-5" class="">Mud Bath</a>
                        </li>
                        <li>
                            <a href="/images" data-filter=".allbumt-6" class="">Galina Lobby Bar & Lounge</a>
                        </li>
                        <li>
                            <a href="/images" data-filter=".allbumt-7" class="">Wedding</a>
                        </li>
                        <li>
                            <a href="/images" data-filter=".allbumt-8" class="">Convention</a>
                        </li>
                        <li>
                            <a href="/images" data-filter=".allbumt-9" class="">Restaurant</a>
                        </li>
                        <li>
                            <a href="/images" data-filter=".allbumt-10" class="">Tranditional Medicince</a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="image-main-box clearfix">
                <li class="item col-xs-6 col-md-4 allbumt-0">
                    <figure>
                        <img src="//c1.staticflickr.com/1/670/20783420568_192c62ebd2_h.jpg" alt="11">
                        <a href="//c1.staticflickr.com/1/670/20783420568_192c62ebd2_h.jpg" class="more-details" data-title="Great View">Enlarge</a>
                        <figcaption>
                            <h4>Great View</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 allbumt-0">
                    <figure>
                        <img src="//c2.staticflickr.com/6/5634/20971209945_03d94c79dd_h.jpg" alt="11">
                        <a href="//c2.staticflickr.com/6/5634/20971209945_03d94c79dd_h.jpg" class="more-details" data-title="Luxury Furniture">Enlarge</a>
                        <figcaption>
                            <h4>Luxury Furniture</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 allbumt-0">
                    <figure>
                        <img src="//c2.staticflickr.com/6/5699/20961383412_3fafeee7b2_h.jpg" alt="11">
                        <a href="//c2.staticflickr.com/6/5699/20961383412_3fafeee7b2_h.jpg" class="more-details" data-title="Neat &amp; Clean Places">Enlarge</a>
                        <figcaption>
                            <h4>Neat &amp; Clean Places</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 allbumt-1">
                    <figure>
                        <img src="//c2.staticflickr.com/6/5705/20971209355_d466bb81ce_h.jpg" alt="11">
                        <a href="//c2.staticflickr.com/6/5705/20971209355_d466bb81ce_h.jpg" class="more-details" data-title="Luxury Feelings">Enlarge</a>
                        <figcaption>
                            <h4>Luxury Feelings</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 allbumt-1">
                    <figure>
                        <img src="//c1.staticflickr.com/1/636/20348776754_82a0ff8b17_h.jpg" alt="11">
                        <a href="//c1.staticflickr.com/1/636/20348776754_82a0ff8b17_h.jpg" class="more-details" data-title="Cozy Spaces">Enlarge</a>
                        <figcaption>
                            <h4>Cozy Spaces</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 allbumt-2">
                    <figure>
                        <img src="//c1.staticflickr.com/1/676/20783309400_30d003bcce_h.jpg" alt="11">
                        <a href="//c1.staticflickr.com/1/676/20783309400_30d003bcce_h.jpg" class="more-details" data-title="Comfortable Rooms">Enlarge</a>
                        <figcaption>
                            <h4>Comfortable Rooms</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 allbumt-3">
                    <figure>
                        <img src="//c1.staticflickr.com/1/767/20978827521_e9a045ab0d_h.jpg" alt="11">
                        <a href="//c1.staticflickr.com/1/767/20978827521_e9a045ab0d_h.jpg" class="more-details" data-title="Comfortable Rooms">Enlarge</a>
                        <figcaption>
                            <h4>Comfortable Rooms</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 allbumt-3">
                    <figure>
                        <img src="//c2.staticflickr.com/6/5752/20350565133_4231fb1296_h.jpg" alt="11">
                        <a href="//c2.staticflickr.com/6/5752/20350565133_4231fb1296_h.jpg" class="more-details" data-title="Comfortable Rooms">Enlarge</a>
                        <figcaption>
                            <h4>Comfortable Rooms</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 allbumt-3">
                    <figure>
                        <img src="//c2.staticflickr.com/6/5796/20783567830_24c3162001_h.jpg" alt="11">
                        <a href="//c2.staticflickr.com/6/5796/20783567830_24c3162001_h.jpg" class="more-details" data-title="Comfortable Rooms">Enlarge</a>
                        <figcaption>
                            <h4>Comfortable Rooms</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 allbumt-3">
                    <figure>
                        <img src="//c1.staticflickr.com/1/708/20783682368_7bb16e3e22_h.jpg" alt="11">
                        <a href="//c1.staticflickr.com/1/708/20783682368_7bb16e3e22_h.jpg" class="more-details" data-title="Comfortable Rooms">Enlarge</a>
                        <figcaption>
                            <h4>Comfortable Rooms</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 allbumt-4">
                    <figure>
                        <img src="//c2.staticflickr.com/6/5708/20961852702_46ebe6ac49_h.jpg" alt="11">
                        <a href="//c2.staticflickr.com/6/5708/20961852702_46ebe6ac49_h.jpg" class="more-details" data-title="Comfortable Rooms">Enlarge</a>
                        <figcaption>
                            <h4>Comfortable Rooms</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 allbumt-4">
                    <figure>
                        <img src="//c2.staticflickr.com/6/5776/20945415036_971bb6472d_h.jpg" alt="11">
                        <a href="//c2.staticflickr.com/6/5776/20945415036_971bb6472d_h.jpg" class="more-details" data-title="Comfortable Rooms">Enlarge</a>
                        <figcaption>
                            <h4>Comfortable Rooms</h4>
                        </figcaption>
                    </figure>
                </li>
            </ul>
            <!-- Pagination -->
            <div class="pagination-box">
                <ul class="list-inline">
                    <li>
                        <a href=""><i class="fa fa-angle-double-left"></i></a>
                    </li>
                    <li class="active">
                        <a href=""><span>1</span></a>
                    </li>
                    <li>
                        <a href=""><span>2</span></a>
                    </li>
                    <li>
                        <a href=""><span>3</span></a>
                    </li>
                    <li>
                        <a href=""><span>4</span></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-angle-double-right"></i></a>
                    </li>
                </ul>
            </div>
            <!-- End of Pagination -->
        </div>
    </div>
</section>
<!-- End of Gallery -->