@{
    ViewBag.Title = "Videos";
}

<div class="gallery slide-show">
    <div class="main-wapper">
        <!--Breadcrumb Section-->
        <section id="breadcrumb-section"
                 data-bg-img="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/12249622_1047877105255017_4217820310705580932_n.jpg?oh=b75d43e63e0e47099d606c1dd5cfd491&oe=58CC6443"
                 style="background-image: url('https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/12249622_1047877105255017_4217820310705580932_n.jpg?oh=b75d43e63e0e47099d606c1dd5cfd491&oe=58CC6443');">
            <div class="inner-container container">
                <div class="ravis-title">
                    <div class="inner-box">
                        <div class="title">Video</div>
                        <div class="sub-title">Some description about your hotel</div>
                    </div>
                </div>

            </div>
        </section>
        <!--End of Breadcrumb Section-->
        <!--Video Section-->
        <section id="video-section">
            <div class="inner-container container">
                <div class="ravis-title-t-2">
                    <div class="title"><span>Video Galina Hotel</span></div>
                    <div class="sub-title">Watch our promotional video</div>
                </div>
                <div class="content clearfix">
                    <iframe src="https://www.youtube.com/embed/pU_c0jU_Was" frameborder="0" allowfullscreen></iframe>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi assumenda pariatur deleniti maxime dolore earum labore quo id facilis, in voluptas atque, saepe iusto autem ex voluptatem quis. Id dolores ex quo quidem doloremque soluta voluptas, amet, obcaecati, exercitationem quia velit! Voluptate voluptas, nam perspiciatis recusandae aperiam ullam repellendus iure consequatur eius sed enim ipsum tenetur esse labore qui maiores ex incidunt adipisci, ducimus dolor nemo minima fugit. Provident, corporis.
                    </div>
                </div>
            </div>
        </section>
        <!--End of Video Section-->
    </div>

</div>

