<!--Footer Section-->
<footer id="main-footer">
    <div class="inner-container container">
        <div class="b-sec clearfix">
            <div class="copy-right">
                <strong>GALINA Hotel & Spa</strong> - 05 Hung Vuong , Nha Trang, Vietnam
                <br />Call Us: (+84) 58 383 9999 - Hotline: 0916 786 077

            </div>
            <ul class="social-icons list-inline">
                <li><a href="https://www.facebook.com/galinahotelnhatrang/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.tripadvisor.com.vn/Hotel_Review-g293928-d6840348-Reviews-Galina_Hotel_Spa-Nha_Trang_Khanh_Hoa_Province.html"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/+GalinaHotelSpatpNhaTrang/posts"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCAfjIUo4X164PruYMryqwHA"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            </ul>

        </div>
    </div>
</footer>
<!--End of Footer Section-->
