
@{
    ViewBag.Title = "About Yoga Class";
}


<section id="breadcrumb-section"
         data-bg-img="http://i.ndtvimg.com/i/2016-04/yoga-generic_650x400_71461747019.jpg"
         style="background-image: url('http://i.ndtvimg.com/i/2016-04/yoga-generic_650x400_71461747019.jpg');">
    <div class="inner-container container">
        <div class="ravis-title">
            <div class="inner-box">
                <div class="title">About Yoga Class</div>
                <div class="sub-title">Tincidunt integer eu augue augue nunc</div>
            </div>
        </div>
    </div>
</section>

<section id="history-section">
    <div class="inner-container container">
        <div class="ravis-title-t-2">
            <div class="title"><span>Introduce</span></div>
            <div class="sub-title"> Tincidunt integer eu augue augue nunc elit dolor</div>
        </div>
        <div class="col-md-12 nas-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis consectetur culpa deserunt expedita impedit labore nam. At aut ducimus earum error esse exercitationem expedita hic, inventore nemo officiis repellat rerum similique, sunt totam ut voluptatem, voluptatum? Architecto assumenda autem earum, eius est exercitationem, in pariatur perspiciatis placeat tenetur, ut!</p>
        </div>
    </div>
</section>

@*Package*@
<seciton id="history-section">
    <div class="inner-container container">
        <div class="ravis-title-t-2">
            <div class="title"><span>Package</span></div>
            <div class="sub-title"> Tincidunt integer eu augue augue nunc elit dolor</div>
        </div>
        <div class="col-md-12 panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h4 class="panel-title">

                            Package 1

                        </h4>
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p><b>Class 1</b> - 26 sessions/ 01 month ( All day per week, except Sunday) – 650,000 VND/ 01 month</p><p><b>Lớp 2</b> - 12 sessions/ 01 month ( Mon, Wed and Fri) – 380,000 VND/ 01 month</p><p><b>Lớp 3</b> - 12 sessions/ 01 month ( Tue, Thu, Sat) – 380,000 VND/ 01 month</p><p><b>Lớp 4</b>  - 10 sessions/ 01 month ( Optional sessions) – 400,000 VND/ 01 month</p><p><b>Single session</b> - 55,000 VND/ 01 session</p><p><b>Time:</b> 17:45 - 18:45 or 19:15 - 20:15 daily</p><p><strong>Special promotion:</strong></p><p> - Free 10’ sauna and steam before each session</p><p> - 3-month package: Free 01 Mud Bath voucher worth 350,000 VND</p><p> - 6-month package: Free 01 Massage Body voucher 60’ worth 640,000 VND</p><p> - 12-month package: Free 02 Mud Bath voucher and 01 Massage Body voucher 60’ worth 1,340,000 VND</p><p> - For further information and register, please contact our hotline: 091 888 9077</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</seciton>

<section id="gallery" style="padding-top:0;">
    <div class="inner-container container">
        <!-- Gallery Container -->
        <div class="gallery-container">
            <ul class="image-main-box clearfix" style="position: relative; height: 855px;">
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="http://c1.staticflickr.com/1/631/21188492703_fbe9e9aa2f_b.jpg" alt="Wedding" title="" />
                        <a href="http://c1.staticflickr.com/1/631/21188492703_fbe9e9aa2f_b.jpg" class="more-details" data-title="">Enlarge</a>
                        <figcaption>
                            <h4>
                                About Yoga Class
                            </h4>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>





