
@{
    ViewBag.Title = "Orthodontic Center";
}

<section id="breadcrumb-section"
         data-bg-img="http://vancouverdentistbc.ca/wp-content/uploads/2014/10/cosmetic-dentist-vancouver.jpg"
         style="background-image: url('http://vancouverdentistbc.ca/wp-content/uploads/2014/10/cosmetic-dentist-vancouver.jpg');">
    <div class="inner-container container">
        <div class="ravis-title">
            <div class="inner-box">
                <div class="title">Orthodontic Center</div>
                <div class="sub-title">Tincidunt integer eu augue augue nunc</div>
            </div>
        </div>
    </div>
</section>

<section id="history-section">
    <div class="inner-container container">
        <div class="ravis-title-t-2">
            <div class="title"><span>Introduce</span></div>
            <div class="sub-title"> Tincidunt integer eu augue augue nunc elit dolor</div>
        </div>
        <div class="col-md-12 nas-content">
            <p>Galina Hotel and Spa is proud to inform you that Galina Orthodontic Center is officially opened in service to welcome our guest and customers. The center is located at the 3rd floor and it is convenient for our domestic and international visitors to come and visit our center that wishes to have their oral health checked. Galina Orthodontic Center offers qualified services with experience dentists and our services operate with modern infrastructure and facilities.</p>
        </div>
    </div>
</section>

@*Package*@
<seciton id="history-section">
    <div class="inner-container container">
        <div class="ravis-title-t-2">
            <div class="title"><span>Package</span></div>
            <div class="sub-title"> Tincidunt integer eu augue augue nunc elit dolor</div>
        </div>
        <div class="col-md-12 panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h4 class="panel-title">

                            Package 1

                        </h4>
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p><strong>GALINA ORTHIDONTIC CENTER</strong></p><br> <p><strong>1. Dental hygiene (tartar removal) by ultrasound</strong></p> <p>Hygiene tooth using an ultrasonic bring gentle feeling comfortable, not to cause sensitivity, not flowing machine, safe and effective for tooth gingivitis. This method removes tartar, plaque and stains on the tooth surface, an array of tartar teeth and gums beneath ultrasonic scalars thanks to micro, combined vibration and water jets to clean every corner of the tooth.</p> <p><strong>2. Dental fillings</strong></p> <p>To treat a cavity your dentist will remove the decayed portion of the tooth and then "fill" the area on the tooth where the decayed material was removed. Fillings are also used to repair cracked or broken teeth and teeth that have been worn down from misuse (such as from nail-biting or tooth grinding).</p> <p><strong>3. Surgical tooth extractions</strong></p> <p>Surgical extraction (also called "open extraction") is a tooth removal procedure in which surgical access is required to completely remove a tooth. Even if the tooth is visible in the mouth without surgically exposing it, surgical techniques may be necessary to remove the tooth. Extensively damaged teeth, and teeth with multiple curved roots frequently require extraction by surgical technique when removal is necessary. Teeth which have been endodontically treated and later need to be removed for some reason, frequently require surgical technique as their roots tend to be more brittle.</p> <p><strong>4. Porcelain metal dental crowns</strong></p> <p>A dental crown is a tooth-shaped "cap" that is placed over a tooth -- to cover the tooth to restore its shape and size, strength, and improve its appearance. The crowns, when cemented into place, fully encase the entire visible portion of a tooth that lies at and above the gum line.</p> <p>Compared with other crown types, less tooth structure needs to be removed with metal crowns, and tooth wear to opposing teeth is kept to a minimum. Metal crowns withstand biting and chewing forces well and probably last the longest in terms of wear down. Also, metal crowns rarely chip or break. The metallic color is the main drawback. Metal crowns are a good choice for out-of-sight molars.</p> <p><strong>5. Porcelain titan dental crowns</strong></p> <p>Titanium Porcelain is matched to the specific material properties of titanium. The inherent versatile properties of titanium provide an incredibly biocompatible, corrosion-resistant coping that is lightweight, hypo-allergenic, mechanically strong (Vicker’s hardness of 180-250, degree 1-4) and has low thermal conductivity. Because the pure titanium is characterized with good biological compatibility, titanium is widely applied into the area of clinical science. In dentistry, the application is mainly as implant body, pure titanium removable partial denture and titanium alloy porcelain laminates, etc.</p> <p><strong>6. Porcelain cercon dental crowns</strong></p> <p>In the case of incisor teeth, it is usual to see that although the crown is esthetic, the replacement still does not give the impression of a natural tooth. The main reason is that the crown is supported by a metal substructure which means that it is a lot less translucent than natural teeth. This problem can be solved by using a metal-free ceramic crown. A metal-free translucent ceramic crown, Cercon, remains unnoticeable even for an expert eye from 5-10 cm. Implant</p> <p><strong>7. Dental implants</strong></p> <p>A dental implant is an artificial tooth root that is placed into your jaw to hold a replacement tooth or bridge. Dental implants may be an option for people who have lost a tooth or teeth due to periodontal disease, an injury, or some other reason.</p> <p><strong>8. Dental braces</strong></p> <p>Dental braces (also known as braces, orthodontic cases, or cases) are devices used in orthodontics that align and straighten teeth and help to position them with regard to a person’s bite, while also working to improve dental health. They are often used to correct under-bites, as well as malocclusions, overbites, open bites, deep bites, cross bites, crooked teeth, and various other flaws of the teeth and jaw. Braces can be either cosmetic or structural. Dental braces are often used in conjunction with other orthodontic appliances to help widen the palate or jaws and to otherwise assist in shaping the teeth and jaws.</p> <p><strong>9. Teeth whitening by Plasma light</strong></p> <p>Whitening with plasma lamp bleaching method is efficient, quick and popular applications in the world. This method does not damage the enamel, does not hurt the gums, causing no discomfort and sensitivity does not affect health. Duration of treatment, 45 minutes.</p> <p><strong>10. Home teeth whitening with custom fitted trays</strong></p> <p>If you avoid smiling because your teeth aren’t as white as they could be, you do have safe and simple options to improve your smile alongside brushing and flossing. One option is a bleaching procedure that uses custom whitening trays to put that healthy look back into your mouth without the expense of costly, generic cosmetic treatment.</p> <p><strong>PRICE LIST</strong></p> <table class="table table-striped">  <tbody>   <tr>    <td>Dental hygiene (tartar removal) by ultrasound</td>    <td>VND 250,000</td>   </tr>   <tr>    <td>Dental fillings</td>    <td>VND 200,000/ 01 unit</td>   </tr>   <tr>    <td>Surgical tooth extractions</td>    <td>VND 700,000/ 01 unit</td>   </tr>   <tr>    <td>Porcelain metal dental crowns</td>    <td>VND 2,100,000/ 01 unit</td>   </tr>   <tr>    <td>Porcelain titan dental crowns</td>    <td>VND 3,500,000/ 01 unit</td>   </tr>   <tr>    <td>Porcelain cercon dental crowns</td>    <td>VND 6,500,000/ 01 unit</td>   </tr>   <tr>    <td>Dental implant</td>    <td>USD 1,700/ 01 unit</td>   </tr>   <tr>    <td>Dental braces</td>    <td>VND 15,000,000</td>   </tr>   <tr>    <td>Teeth whitening by Plasma light</td>    <td>VND 3,000,000</td>   </tr>   <tr>    <td>Home teeth whitening with custom fitted trays</td>    <td>VND 2,100,000</td>   </tr>  </tbody> </table> <p><strong>CONTACT INFORMATION</strong></p> <p>Galina Orthodontic Center - 5 Hung Vuong, Loc Tho, Nha Trang</p> <p>Tel: 058 3528889 - Hotline: 0918 889 077 - Email: sales3@haidanggroup.com</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</seciton>

<section id="gallery" style="padding-top:0;">
    <div class="inner-container container">
        <!-- Gallery Container -->
        <div class="gallery-container">
            <ul class="image-main-box clearfix" style="position: relative; height: 855px;">
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="http://c1.staticflickr.com/1/567/20757222850_d8b492a94f_b.jpg" alt="Wedding" title="" />
                        <a href="http://c1.staticflickr.com/1/567/20757222850_d8b492a94f_b.jpg" class="more-details" data-title="">Enlarge</a>
                        <figcaption>
                            <h4>
                                Orthodontic Center
                            </h4>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>



