@{
    ViewBag.Title = "Tranditional Medicince";
}

<section id="breadcrumb-section"
         data-bg-img="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/11049625_977808298928565_5147345601618339802_n.jpg?oh=dc942043b4c555a922f7d2786203316c&oe=58CE0FCA"
         style="background-image: url('https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/11049625_977808298928565_5147345601618339802_n.jpg?oh=dc942043b4c555a922f7d2786203316c&oe=58CE0FCA');">
    <div class="inner-container container">
        <div class="ravis-title">
            <div class="inner-box">
                <div class="title">Tranditional Medicince</div>
                <div class="sub-title">Tincidunt integer eu augue augue nunc</div>
            </div>
        </div>
    </div>
</section>

<section id="history-section">
    <div class="inner-container container">
        <div class="ravis-title-t-2">
            <div class="title"><span>Introduce</span></div>
            <div class="sub-title"> Tincidunt integer eu augue augue nunc elit dolor</div>
        </div>
        <div class="col-md-12 nas-content">
            <p>The musculoskeletal problem is one of the most common diseases and is a major cause of disability worldwide. Anyone can get this disease and occurs more frequently in women. Rheumatic disease usually begins in middle age, most common in the elderly and areas with cold climate. However, children and adolescents can also get it.</p><p>The common diseases:</p><p> - Body aches or pain due to new disease or common in the elderly</p><p> - Headache, chronic neck - shoulder - neck pain.</p><p> - Back pain, low back pain, herniated disk, arthralgia, sciatica ...</p><p> - Muscle pain, arm nerve pain and other musculoskeletal aches.</p><p>In order to further diversify, Galina Hotel &amp; Spa has launched its therapy center named Galina Traditional Medicine Center. The centre takes traditional techniques such as nerve reflexology massage, acupuncture and acupressure, and combines them with modern methods: mineral mud bath, Osen bath and  therapeutic massage to treat all musculoskeletal problems.</p><p>Tourists will feel secure when able to both combine holiday trip and can treat common musculoskeletal problems in beautiful coastal city of Nha Trang - Vietnam.</p><p>With a team of highly experienced specialists, Galina Traditional Medicine Center has successfully treated a large number of patients from all over the world. It takes just 3-7 days and your  musculoskeletal problem will be gone without any of the unpleasant experience that usually accompanies other treatment methods. Musculoskeletal  therapy by Galina will give you as easy and relaxed time as you normally see at highly restigious spas!</p><p>Come and let us take care of you at Galina Hotel &amp; Spa.</p>
        </div>
    </div>
</section>

@*Package*@
<seciton id="history-section">
    <div class="inner-container container">
        <div class="ravis-title-t-2">
            <div class="title"><span>Package</span></div>
            <div class="sub-title"> Tincidunt integer eu augue augue nunc elit dolor</div>
        </div>
        <div class="col-md-12 panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h4 class="panel-title">

                            Package 1

                        </h4>
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                       <p>With the treatment process of musculoskeletal disease in Galina Mud Bath &amp; Spa, guests can treat diseases of musculoskeletal disorders, the symptoms of aches effectively soon during the resort time in beautiful coastal city of Nha Trang!</p> <p>A treatment process lasts 03 days or more depending on pathological condition of guests, including: massage, acupuncture, nerve reflection massage, reflexology, hot mineral mud soak, Soda Spa and intensive massage are performed by a team of professional doctors.</p> <p>This method does not cause severe and discomfort feeling like other treatment methods. The treatment process of musculoskeletal disease in Galina Mud Bath &amp; Spa will give you a feeling of relaxation, gentle as enjoying the luxury spa services!</p> <p><strong>The treatment process</strong> </p> <table class="table table-bordered">  <tbody>   <tr>    <td>First day</td>    <td>     <p>- Doctor exams, gives professional advice and unifies the treatment process</p>     <p>- Body &amp; Foot relax massage</p>    </td>   </tr>   <tr>    <td>Next days</td>    <td>     <p><strong>Morning (or afternoon)</strong></p>     <p>•	Electro puncture treatment 20’</p>     <p>•	Massage, reflexology, nerve reflex massage 40’</p>     <p><strong>Afternoon (or morning)</strong></p>     <p>•	Hot mineral mud soak 30’</p>     <p>•	Soda Spa 30’</p>     <p>•	Intensive treatment massage 60’</p>     <p>•	Doctor exams, gives professional advice and monitors the daily disease progress.</p>    </td>   </tr>  </tbody> </table> <p><strong>Cost of treatment</strong></p> <table class="table table-bordered">  <tbody>   <tr>    <td><strong>Treatment within 7 days</strong></td>    <td><strong>Treatment within 5 days</strong></td>    <td><strong>Treatment within 4 days</strong></td>    <td><strong>Treatment within 3 days</strong></td>   </tr>      <tr>    <td colspan="3">     <p><strong>Extra service payment:</strong></p>     <p>- Treatment package includes breakfast and/or lunch</p>     <p>- Treatment package includes meals and rooms in Galina Hotel &amp; Spa</p>    </td>    <td>Please contact us directly</td>   </tr>  </tbody> </table> <p><strong>Other utilities</strong></p> <p>- Unlimited use free for services as wet and dry sauna, Jacuzzi, swimming - pool.</p> <p>- 10% off for all services Mud Bath &amp; Spa in Galina for relatives</p> <p>- 5% off for food and drink services in Galina Hotel &amp; Spa</p> <p><strong>Galina Hotel &amp; Spa</strong> - 5 Hung Vuong, Nha Trang</p> <p>Tel: (+84) 58 3529998 - Hotline: 0918889077 (Vi-En) - Website: www.galinahotel.com.vn</p>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</seciton>

<section id="gallery" style="padding-top:0;">
    <div class="inner-container container">
        <!-- Gallery Container -->
        <div class="gallery-container">
            <ul class="image-main-box clearfix" style="position: relative; height: 855px;">
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="http://c1.staticflickr.com/1/747/21041318872_6d17c42b25.jpg" alt="Wedding" title="" />
                        <a href="http://c1.staticflickr.com/1/747/21041318872_6d17c42b25.jpg" class="more-details" data-title="">Enlarge</a>
                        <figcaption>
                            <h4>
                                Tranditional Medicince
                            </h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="http://c1.staticflickr.com/1/621/20428643144_9d964ecd5c.jpg" alt="Wedding" title="" />
                        <a href="http://c1.staticflickr.com/1/621/20428643144_9d964ecd5c.jpg" class="more-details" data-title="">Enlarge</a>
                        <figcaption>
                            <h4>
                                Tranditional Medicince
                            </h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="http://c2.staticflickr.com/6/5763/21025046366_670b1104b5.jpg" alt="Wedding" title="" />
                        <a href="http://c2.staticflickr.com/6/5763/21025046366_670b1104b5.jpg" class="more-details" data-title="">Enlarge</a>
                        <figcaption>
                            <h4>
                                Tranditional Medicince
                            </h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="http://c2.staticflickr.com/6/5788/20430222463_78052706aa.jpg" alt="Wedding" title="" />
                        <a href="http://c2.staticflickr.com/6/5788/20430222463_78052706aa.jpg" class="more-details" data-title="">Enlarge</a>
                        <figcaption>
                            <h4>
                                Tranditional Medicince
                            </h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="http://c1.staticflickr.com/1/751/21051274495_fa891b933c.jpg" alt="Wedding" title="" />
                        <a href="http://c1.staticflickr.com/1/751/21051274495_fa891b933c.jpg" class="more-details" data-title="">Enlarge</a>
                        <figcaption>
                            <h4>
                                Tranditional Medicince
                            </h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="http://c1.staticflickr.com/1/705/21025046466_f15669e31c.jpg" alt="Wedding" title="" />
                        <a href="http://c1.staticflickr.com/1/705/21025046466_f15669e31c.jpg" class="more-details" data-title="">Enlarge</a>
                        <figcaption>
                            <h4>
                                Tranditional Medicince
                            </h4>
                        </figcaption>
                    </figure>
                </li>
            </ul>


        </div>
    </div>
</section>

