USE [NamolyBookingEngineDb]
GO
/****** Object:  Table [dbo].[ArticlePage]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticlePage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Description] [nvarchar](1024) NULL,
	[Id_WebPageComponent] [int] NULL,
	[CreateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ArticlePage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BusinessEntity]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](32) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Address] [nvarchar](256) NULL,
	[Website] [nvarchar](256) NULL,
	[Email] [nvarchar](64) NULL,
	[Fax] [nvarchar](32) NULL,
	[Phone] [nvarchar](32) NOT NULL,
	[TaxCode] [nvarchar](16) NULL,
	[Type] [int] NOT NULL,
	[IsHotel] [bit] NOT NULL,
	[IsRestaurant] [bit] NOT NULL,
	[IsSpa] [bit] NOT NULL,
	[IsOta] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_BusinessEntity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[City]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] NOT NULL,
	[Code] [nvarchar](16) NULL,
	[Name] [nvarchar](32) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComponentType]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_ComponentType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] NOT NULL,
	[Code] [nvarchar](16) NULL,
	[Name] [nvarchar](32) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Documentation]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TitlePageVN] [nvarchar](max) NULL,
	[TitlePageEN] [nvarchar](max) NULL,
	[MetaDescriptionVN] [nvarchar](max) NULL,
	[MetaDescriptionEN] [nvarchar](max) NULL,
	[TitleVN] [nvarchar](max) NULL,
	[TitleEN] [nvarchar](max) NULL,
	[ImageAvatarUrlVN] [nvarchar](max) NULL,
	[ImageAvatarUrlEN] [nvarchar](max) NULL,
	[DescriptionVN] [nvarchar](max) NULL,
	[DescriptionEN] [nvarchar](max) NULL,
	[ContentVN] [nvarchar](max) NULL,
	[ContentEN] [nvarchar](max) NULL,
	[RoutingVN] [nvarchar](max) NULL,
	[RoutingEN] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[PageComponent] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
	[Level] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[ParentId] [int] NULL,
	[IsLeaf] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelAllotment]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelAllotment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AllotmentForEntityId] [int] NOT NULL,
	[IssueByEntityId] [int] NOT NULL,
	[Code] [nvarchar](8) NOT NULL,
	[StandardPrice] [decimal](18, 0) NOT NULL,
	[PromotionPrice] [decimal](18, 0) NULL,
	[FromDate] [datetime2](7) NULL,
	[ToDate] [datetime2](7) NULL,
 CONSTRAINT [PK_HotelAllotment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelAllotmentDetail]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelAllotmentDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AllotmentId] [int] NULL,
	[AccommodationTypeId] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_HotelAllotmentDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelAvailabilityOverride]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelAvailabilityOverride](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AvailabilityChangedId] [int] NULL,
	[ItemId] [int] NULL,
	[EntityId] [int] NULL,
	[OverrideValue] [int] NULL,
	[OverrideDate] [datetime2](7) NULL,
 CONSTRAINT [PK_HotelAvailabilityOverride] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelPromotionPriceOverride]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelPromotionPriceOverride](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NULL,
	[EntityId] [int] NULL,
	[OverrideValue] [decimal](18, 0) NULL,
	[OverrideDate] [datetime2](7) NULL,
 CONSTRAINT [PK_HotelPromotionPriceOverride] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelReservation]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelReservation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessEntityId] [int] NULL,
	[AgentId] [int] NULL,
	[Code] [nvarchar](8) NULL,
	[IssueDate] [datetime2](7) NULL,
	[ArrivalDate] [datetime2](7) NULL,
	[DepartureDate] [datetime2](7) NULL,
	[Nights] [int] NULL,
	[Guests] [int] NULL,
	[Adults] [int] NULL,
	[Childs] [int] NULL,
	[Infants] [int] NULL,
	[WhereDidYouHearAboutUs] [nvarchar](512) NULL,
	[ReservationNotes] [nvarchar](1024) NULL,
	[CrmNotes] [nvarchar](1024) NULL,
	[HouseKeepingNotes] [nvarchar](1024) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_HotelReservation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelReservationAccommondation]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelReservationAccommondation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReservationId] [int] NULL,
	[RoomTypeId] [int] NULL,
	[NumOfRooms] [int] NULL,
 CONSTRAINT [PK_HotelReservationAccommondation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelReservationCartItem]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelReservationCartItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReservationId] [int] NULL,
	[ItemId] [int] NULL,
	[Quantity] [decimal](18, 2) NULL,
	[Price] [decimal](18, 0) NULL,
	[Amount] [decimal](18, 2) NULL,
	[SpecialPromotion] [decimal](18, 2) NULL,
	[Tax] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
 CONSTRAINT [PK_HotelReservationCartItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelReservationExtra]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelReservationExtra](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReservationId] [int] NULL,
	[ItemId] [int] NOT NULL,
	[Quantity] [decimal](18, 0) NULL,
 CONSTRAINT [PK_HotelReservationExtra] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelReservationGuest]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelReservationGuest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReservationId] [int] NULL,
	[CityId] [int] NULL,
	[CountryId] [int] NULL,
	[Salutation] [nvarchar](32) NULL,
	[FirstName] [nvarchar](64) NULL,
	[LastName] [nvarchar](64) NULL,
	[FullName] [nvarchar](128) NULL,
	[BusinessName] [nvarchar](128) NULL,
	[Email] [nvarchar](128) NULL,
	[Phone] [nvarchar](32) NULL,
	[Mobile] [nvarchar](32) NULL,
	[Fax] [nvarchar](32) NULL,
	[TaxCode] [nvarchar](32) NULL,
	[Address] [nvarchar](128) NULL,
 CONSTRAINT [PK_HotelReservationGuest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelReservationPayment]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelReservationPayment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReservationId] [int] NULL,
	[Date] [datetime2](7) NULL,
	[PaymentNo] [nvarchar](128) NULL,
	[PaymentType] [int] NULL,
	[Amount] [decimal](18, 0) NULL,
	[Balance] [decimal](18, 0) NULL,
 CONSTRAINT [PK_HotelReservationPayment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelSoldOutOverride]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelSoldOutOverride](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NULL,
	[EntityId] [int] NULL,
	[OverrideValue] [bit] NULL,
	[OverrideDate] [datetime2](7) NULL,
 CONSTRAINT [PK_HotelSoldOutOverride] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Item]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessEntityId] [int] NOT NULL,
	[DefaultUomId] [int] NOT NULL,
	[Code] [nvarchar](16) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[DefaultPrice] [decimal](18, 0) NULL,
	[IsProduct] [bit] NOT NULL,
	[IsService] [bit] NOT NULL,
	[IsBookable] [bit] NOT NULL,
	[AppliedToHotel] [bit] NOT NULL,
	[AppliedToRestaurant] [bit] NOT NULL,
	[AppliedToSpa] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemAttribute]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemAttribute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[ItemAttributeType] [int] NOT NULL,
	[Value] [nvarchar](128) NULL,
 CONSTRAINT [PK_ItemAttribute] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemAvailabilityChanged]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemAvailabilityChanged](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NULL,
	[BusinessEntityId] [int] NULL,
	[ChangedQuantity] [int] NULL,
	[TargetDate] [datetime2](7) NULL,
	[IssueDate] [datetime2](7) NULL,
	[Description] [nvarchar](128) NULL,
 CONSTRAINT [PK_ItemAvailability] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Uom]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uom](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](8) NOT NULL,
	[Name] [nvarchar](16) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Uom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessEntityId] [int] NULL,
	[Email] [nvarchar](128) NULL,
	[Password] [nvarchar](512) NULL,
	[Roles] [nvarchar](512) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WebPage]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebPage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WebSiteId] [int] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[ParentWebPageId] [int] NULL,
 CONSTRAINT [PK_WebPage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WebPageComponent]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebPageComponent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ComponentId] [nvarchar](1024) NULL,
	[Value] [nvarchar](max) NULL,
	[WebPageId] [int] NULL,
	[Config] [nvarchar](max) NULL,
 CONSTRAINT [PK_WebPageComponent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WebPageComponentProperty]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebPageComponentProperty](
	[Id] [int] NOT NULL,
	[WebPageComponentId] [int] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Language] [int] NOT NULL,
 CONSTRAINT [PK_WebPageComponentProperty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WebPageProperty]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebPageProperty](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WebPageId] [int] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Language] [int] NOT NULL,
 CONSTRAINT [PK_WebPageProperty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WebSite]    Script Date: 1/23/2017 6:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebSite](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_WebSite] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ArticlePage] ON 

GO
INSERT [dbo].[ArticlePage] ([Id], [Title], [Description], [Id_WebPageComponent], [CreateDate]) VALUES (1, N'asdf', N'sdf', 1, CAST(N'2017-01-21T11:23:12.1470000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ArticlePage] OFF
GO
SET IDENTITY_INSERT [dbo].[BusinessEntity] ON 

GO
INSERT [dbo].[BusinessEntity] ([Id], [Code], [Name], [Address], [Website], [Email], [Fax], [Phone], [TaxCode], [Type], [IsHotel], [IsRestaurant], [IsSpa], [IsOta], [IsActive]) VALUES (1, N'NAAN01', N'NAAN Solution Hotel 01', N'358/2B Điện Biên Phủ', N'naansolution.com', N'support@naansolution.com', N'000213123', N'342543534', NULL, 0, 1, 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[BusinessEntity] OFF
GO
SET IDENTITY_INSERT [dbo].[Documentation] ON 

GO
INSERT [dbo].[Documentation] ([Id], [TitlePageVN], [TitlePageEN], [MetaDescriptionVN], [MetaDescriptionEN], [TitleVN], [TitleEN], [ImageAvatarUrlVN], [ImageAvatarUrlEN], [DescriptionVN], [DescriptionEN], [ContentVN], [ContentEN], [RoutingVN], [RoutingEN], [Category], [PageComponent], [DisplayOrder], [Level], [IsActive], [ParentId], [IsLeaf]) VALUES (1, N'testvn', N'testendsfsdfsd', N'testvn', N'testen', N'testvn', N'testen', NULL, NULL, NULL, NULL, N'<p>
	testvn</p>
', N'<p>
	testen</p>
', NULL, NULL, NULL, N'DOCSEO', NULL, NULL, 0, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Documentation] OFF
GO
SET IDENTITY_INSERT [dbo].[HotelReservation] ON 

GO
INSERT [dbo].[HotelReservation] ([Id], [BusinessEntityId], [AgentId], [Code], [IssueDate], [ArrivalDate], [DepartureDate], [Nights], [Guests], [Adults], [Childs], [Infants], [WhereDidYouHearAboutUs], [ReservationNotes], [CrmNotes], [HouseKeepingNotes], [Status]) VALUES (1, 1, NULL, N'BK0001', CAST(N'2017-01-23T12:03:57.9500000' AS DateTime2), CAST(N'2017-01-12T00:00:00.0000000' AS DateTime2), CAST(N'2017-01-15T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2)
GO
SET IDENTITY_INSERT [dbo].[HotelReservation] OFF
GO
SET IDENTITY_INSERT [dbo].[HotelReservationAccommondation] ON 

GO
INSERT [dbo].[HotelReservationAccommondation] ([Id], [ReservationId], [RoomTypeId], [NumOfRooms]) VALUES (1, 1, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[HotelReservationAccommondation] OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

GO
INSERT [dbo].[Item] ([Id], [BusinessEntityId], [DefaultUomId], [Code], [Name], [DefaultPrice], [IsProduct], [IsService], [IsBookable], [AppliedToHotel], [AppliedToRestaurant], [AppliedToSpa], [IsActive]) VALUES (1, 1, 1, N'RT01', N'Phòng KS 01', CAST(800000 AS Decimal(18, 0)), 0, 1, 1, 1, 0, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemAttribute] ON 

GO
INSERT [dbo].[ItemAttribute] ([Id], [ItemId], [ItemAttributeType], [Value]) VALUES (1, 1, 3, N'30')
GO
SET IDENTITY_INSERT [dbo].[ItemAttribute] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemAvailabilityChanged] ON 

GO
INSERT [dbo].[ItemAvailabilityChanged] ([Id], [ItemId], [BusinessEntityId], [ChangedQuantity], [TargetDate], [IssueDate], [Description]) VALUES (1, 1, 1, 30, CAST(N'1753-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2017-01-23T12:03:57.9430000' AS DateTime2), NULL)
GO
INSERT [dbo].[ItemAvailabilityChanged] ([Id], [ItemId], [BusinessEntityId], [ChangedQuantity], [TargetDate], [IssueDate], [Description]) VALUES (2, 1, 1, -2, CAST(N'2017-01-12T00:00:00.0000000' AS DateTime2), CAST(N'2017-01-23T12:03:57.9530000' AS DateTime2), NULL)
GO
INSERT [dbo].[ItemAvailabilityChanged] ([Id], [ItemId], [BusinessEntityId], [ChangedQuantity], [TargetDate], [IssueDate], [Description]) VALUES (3, 1, 1, 2, CAST(N'2017-01-15T00:00:00.0000000' AS DateTime2), CAST(N'2017-01-23T12:03:57.9530000' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[ItemAvailabilityChanged] OFF
GO
SET IDENTITY_INSERT [dbo].[Uom] ON 

GO
INSERT [dbo].[Uom] ([Id], [Code], [Name], [IsActive]) VALUES (1, N'NI', N'Đêm', 1)
GO
SET IDENTITY_INSERT [dbo].[Uom] OFF
GO
SET IDENTITY_INSERT [dbo].[WebPage] ON 

GO
INSERT [dbo].[WebPage] ([Id], [WebSiteId], [Name], [Description], [IsActive], [ParentWebPageId]) VALUES (3, 1, N'Home', N'home Description', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[WebPage] OFF
GO
SET IDENTITY_INSERT [dbo].[WebPageProperty] ON 

GO
INSERT [dbo].[WebPageProperty] ([Id], [WebPageId], [Name], [Value], [Type], [IsActive], [Language]) VALUES (2, 3, N'Title', N'Home', 0, 0, 0)
GO
INSERT [dbo].[WebPageProperty] ([Id], [WebPageId], [Name], [Value], [Type], [IsActive], [Language]) VALUES (3, 3, N'PageTitle', N'home page title', 0, 0, 0)
GO
INSERT [dbo].[WebPageProperty] ([Id], [WebPageId], [Name], [Value], [Type], [IsActive], [Language]) VALUES (4, 3, N'MetaTitle', NULL, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[WebPageProperty] OFF
GO
SET IDENTITY_INSERT [dbo].[WebSite] ON 

GO
INSERT [dbo].[WebSite] ([Id], [Name]) VALUES (1, N'domain.com')
GO
SET IDENTITY_INSERT [dbo].[WebSite] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_BusinessEntity_Code]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BusinessEntity_Code] ON [dbo].[BusinessEntity]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_BusinessEntity_Name]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_BusinessEntity_Name] ON [dbo].[BusinessEntity]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_HotelAllotment]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HotelAllotment] ON [dbo].[HotelAllotment]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_HotelReservation]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HotelReservation] ON [dbo].[HotelReservation]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Item_Code]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Item_Code] ON [dbo].[Item]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Item_Name]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Item_Name] ON [dbo].[Item]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemAttribute]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemAttribute] ON [dbo].[ItemAttribute]
(
	[ItemId] ASC,
	[ItemAttributeType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemAvailabilityChanged]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemAvailabilityChanged] ON [dbo].[ItemAvailabilityChanged]
(
	[BusinessEntityId] ASC,
	[TargetDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Uom_Code]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Uom_Code] ON [dbo].[Uom]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Uom_Name]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Uom_Name] ON [dbo].[Uom]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User] ON [dbo].[User]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_WebPage_Name]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebPage_Name] ON [dbo].[WebPage]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_WebPageProperty_Name]    Script Date: 1/23/2017 6:26:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebPageProperty_Name] ON [dbo].[WebPageProperty]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArticlePage] ADD  CONSTRAINT [DF_ArticlePage_Id_WebPageComponent]  DEFAULT ((-1)) FOR [Id_WebPageComponent]
GO
ALTER TABLE [dbo].[ArticlePage] ADD  CONSTRAINT [DF_ArticlePage_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[WebPage] ADD  CONSTRAINT [DF_WebPage_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WebPageComponentProperty] ADD  CONSTRAINT [DF_WebPageComponentProperty_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WebPageProperty] ADD  CONSTRAINT [DF_WebPageProperty_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
ALTER TABLE [dbo].[HotelAllotment]  WITH CHECK ADD  CONSTRAINT [FK_HotelAllotment_BusinessEntity] FOREIGN KEY([AllotmentForEntityId])
REFERENCES [dbo].[BusinessEntity] ([Id])
GO
ALTER TABLE [dbo].[HotelAllotment] CHECK CONSTRAINT [FK_HotelAllotment_BusinessEntity]
GO
ALTER TABLE [dbo].[HotelAllotment]  WITH CHECK ADD  CONSTRAINT [FK_HotelAllotment_BusinessEntity1] FOREIGN KEY([IssueByEntityId])
REFERENCES [dbo].[BusinessEntity] ([Id])
GO
ALTER TABLE [dbo].[HotelAllotment] CHECK CONSTRAINT [FK_HotelAllotment_BusinessEntity1]
GO
ALTER TABLE [dbo].[HotelAllotmentDetail]  WITH CHECK ADD  CONSTRAINT [FK_HotelAllotmentDetail_HotelAllotment] FOREIGN KEY([AllotmentId])
REFERENCES [dbo].[HotelAllotment] ([Id])
GO
ALTER TABLE [dbo].[HotelAllotmentDetail] CHECK CONSTRAINT [FK_HotelAllotmentDetail_HotelAllotment]
GO
ALTER TABLE [dbo].[HotelAllotmentDetail]  WITH CHECK ADD  CONSTRAINT [FK_HotelAllotmentDetail_Item] FOREIGN KEY([AccommodationTypeId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[HotelAllotmentDetail] CHECK CONSTRAINT [FK_HotelAllotmentDetail_Item]
GO
ALTER TABLE [dbo].[HotelAvailabilityOverride]  WITH CHECK ADD  CONSTRAINT [FK_HotelAvailabilityOverride_BusinessEntity] FOREIGN KEY([EntityId])
REFERENCES [dbo].[BusinessEntity] ([Id])
GO
ALTER TABLE [dbo].[HotelAvailabilityOverride] CHECK CONSTRAINT [FK_HotelAvailabilityOverride_BusinessEntity]
GO
ALTER TABLE [dbo].[HotelAvailabilityOverride]  WITH CHECK ADD  CONSTRAINT [FK_HotelAvailabilityOverride_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[HotelAvailabilityOverride] CHECK CONSTRAINT [FK_HotelAvailabilityOverride_Item]
GO
ALTER TABLE [dbo].[HotelAvailabilityOverride]  WITH CHECK ADD  CONSTRAINT [FK_HotelAvailabilityOverride_ItemAvailabilityChanged] FOREIGN KEY([AvailabilityChangedId])
REFERENCES [dbo].[ItemAvailabilityChanged] ([Id])
GO
ALTER TABLE [dbo].[HotelAvailabilityOverride] CHECK CONSTRAINT [FK_HotelAvailabilityOverride_ItemAvailabilityChanged]
GO
ALTER TABLE [dbo].[HotelPromotionPriceOverride]  WITH CHECK ADD  CONSTRAINT [FK_HotelPromotionPriceOverride_BusinessEntity] FOREIGN KEY([EntityId])
REFERENCES [dbo].[BusinessEntity] ([Id])
GO
ALTER TABLE [dbo].[HotelPromotionPriceOverride] CHECK CONSTRAINT [FK_HotelPromotionPriceOverride_BusinessEntity]
GO
ALTER TABLE [dbo].[HotelPromotionPriceOverride]  WITH CHECK ADD  CONSTRAINT [FK_HotelPromotionPriceOverride_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[HotelPromotionPriceOverride] CHECK CONSTRAINT [FK_HotelPromotionPriceOverride_Item]
GO
ALTER TABLE [dbo].[HotelReservation]  WITH CHECK ADD  CONSTRAINT [FK_HotelReservation_BusinessEntity] FOREIGN KEY([BusinessEntityId])
REFERENCES [dbo].[BusinessEntity] ([Id])
GO
ALTER TABLE [dbo].[HotelReservation] CHECK CONSTRAINT [FK_HotelReservation_BusinessEntity]
GO
ALTER TABLE [dbo].[HotelReservation]  WITH CHECK ADD  CONSTRAINT [FK_HotelReservation_BusinessEntity1] FOREIGN KEY([AgentId])
REFERENCES [dbo].[BusinessEntity] ([Id])
GO
ALTER TABLE [dbo].[HotelReservation] CHECK CONSTRAINT [FK_HotelReservation_BusinessEntity1]
GO
ALTER TABLE [dbo].[HotelReservationAccommondation]  WITH CHECK ADD  CONSTRAINT [FK_HotelReservationAccommondation_HotelReservation] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[HotelReservation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HotelReservationAccommondation] CHECK CONSTRAINT [FK_HotelReservationAccommondation_HotelReservation]
GO
ALTER TABLE [dbo].[HotelReservationAccommondation]  WITH CHECK ADD  CONSTRAINT [FK_HotelReservationAccommondation_Item] FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[HotelReservationAccommondation] CHECK CONSTRAINT [FK_HotelReservationAccommondation_Item]
GO
ALTER TABLE [dbo].[HotelReservationCartItem]  WITH CHECK ADD  CONSTRAINT [FK_HotelReservationCartItem_HotelReservation] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[HotelReservation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HotelReservationCartItem] CHECK CONSTRAINT [FK_HotelReservationCartItem_HotelReservation]
GO
ALTER TABLE [dbo].[HotelReservationExtra]  WITH CHECK ADD  CONSTRAINT [FK_HotelReservationExtra_HotelReservation] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[HotelReservation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HotelReservationExtra] CHECK CONSTRAINT [FK_HotelReservationExtra_HotelReservation]
GO
ALTER TABLE [dbo].[HotelReservationExtra]  WITH CHECK ADD  CONSTRAINT [FK_HotelReservationExtra_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[HotelReservationExtra] CHECK CONSTRAINT [FK_HotelReservationExtra_Item]
GO
ALTER TABLE [dbo].[HotelReservationGuest]  WITH CHECK ADD  CONSTRAINT [FK_HotelReservationGuest_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[HotelReservationGuest] CHECK CONSTRAINT [FK_HotelReservationGuest_City]
GO
ALTER TABLE [dbo].[HotelReservationGuest]  WITH CHECK ADD  CONSTRAINT [FK_HotelReservationGuest_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[HotelReservationGuest] CHECK CONSTRAINT [FK_HotelReservationGuest_Country]
GO
ALTER TABLE [dbo].[HotelReservationGuest]  WITH CHECK ADD  CONSTRAINT [FK_HotelReservationGuest_HotelReservation] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[HotelReservation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HotelReservationGuest] CHECK CONSTRAINT [FK_HotelReservationGuest_HotelReservation]
GO
ALTER TABLE [dbo].[HotelReservationPayment]  WITH CHECK ADD  CONSTRAINT [FK_HotelReservationPayment_HotelReservation] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[HotelReservation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HotelReservationPayment] CHECK CONSTRAINT [FK_HotelReservationPayment_HotelReservation]
GO
ALTER TABLE [dbo].[HotelSoldOutOverride]  WITH CHECK ADD  CONSTRAINT [FK_HotelSoldOutOverride_BusinessEntity] FOREIGN KEY([EntityId])
REFERENCES [dbo].[BusinessEntity] ([Id])
GO
ALTER TABLE [dbo].[HotelSoldOutOverride] CHECK CONSTRAINT [FK_HotelSoldOutOverride_BusinessEntity]
GO
ALTER TABLE [dbo].[HotelSoldOutOverride]  WITH CHECK ADD  CONSTRAINT [FK_HotelSoldOutOverride_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[HotelSoldOutOverride] CHECK CONSTRAINT [FK_HotelSoldOutOverride_Item]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_BusinessEntity] FOREIGN KEY([BusinessEntityId])
REFERENCES [dbo].[BusinessEntity] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_BusinessEntity]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Uom] FOREIGN KEY([DefaultUomId])
REFERENCES [dbo].[Uom] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Uom]
GO
ALTER TABLE [dbo].[ItemAttribute]  WITH CHECK ADD  CONSTRAINT [FK_ItemAttribute_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[ItemAttribute] CHECK CONSTRAINT [FK_ItemAttribute_Item]
GO
ALTER TABLE [dbo].[ItemAvailabilityChanged]  WITH CHECK ADD  CONSTRAINT [FK_ItemAvailability_BusinessEntity] FOREIGN KEY([BusinessEntityId])
REFERENCES [dbo].[BusinessEntity] ([Id])
GO
ALTER TABLE [dbo].[ItemAvailabilityChanged] CHECK CONSTRAINT [FK_ItemAvailability_BusinessEntity]
GO
ALTER TABLE [dbo].[ItemAvailabilityChanged]  WITH CHECK ADD  CONSTRAINT [FK_ItemAvailability_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemAvailabilityChanged] CHECK CONSTRAINT [FK_ItemAvailability_Item]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_BusinessEntity] FOREIGN KEY([BusinessEntityId])
REFERENCES [dbo].[BusinessEntity] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_BusinessEntity]
GO
ALTER TABLE [dbo].[WebPage]  WITH CHECK ADD  CONSTRAINT [FK_WebSite_WebPage] FOREIGN KEY([WebSiteId])
REFERENCES [dbo].[WebSite] ([Id])
GO
ALTER TABLE [dbo].[WebPage] CHECK CONSTRAINT [FK_WebSite_WebPage]
GO
ALTER TABLE [dbo].[WebPageComponent]  WITH CHECK ADD  CONSTRAINT [FK_WebPageComponent_WebPage] FOREIGN KEY([WebPageId])
REFERENCES [dbo].[WebPage] ([Id])
GO
ALTER TABLE [dbo].[WebPageComponent] CHECK CONSTRAINT [FK_WebPageComponent_WebPage]
GO
ALTER TABLE [dbo].[WebPageComponentProperty]  WITH CHECK ADD  CONSTRAINT [FK_WebPageComponentProperty_WebPageComponent] FOREIGN KEY([WebPageComponentId])
REFERENCES [dbo].[WebPageComponent] ([Id])
GO
ALTER TABLE [dbo].[WebPageComponentProperty] CHECK CONSTRAINT [FK_WebPageComponentProperty_WebPageComponent]
GO
ALTER TABLE [dbo].[WebPageProperty]  WITH CHECK ADD  CONSTRAINT [FK_WebPageProperty_WebPage] FOREIGN KEY([WebPageId])
REFERENCES [dbo].[WebPage] ([Id])
GO
ALTER TABLE [dbo].[WebPageProperty] CHECK CONSTRAINT [FK_WebPageProperty_WebPage]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'enum {ServiceProvider, Agent}' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BusinessEntity', @level2type=N'COLUMN',@level2name=N'Type'
GO
