@{
    ViewBag.Title = "Home Page";
}



<div class="slider-available-sec">
    <!-- Main Slider -->
    <section id="main-slider" class="owl-carousel owl-theme">
        <div class="items">
            <div class="img-container"
                 data-bg-img="http://c1.staticflickr.com/1/707/20784458950_7a62913869_h.jpg"
                 style="background-image: url('http://c1.staticflickr.com/1/707/20784458950_7a62913869_h.jpg');">
            </div>

            <div class="slide-caption">
                <div class="inner-container clearfix">
                    <div class="up-sec">Enjoy of staying in our hotel with our</div>
                    <div class="down-sec">Galina Hotel</div>
                </div>
            </div>
        </div>

        <div class="items">
            <div class="img-container"
                 data-bg-img="http://c2.staticflickr.com/6/5705/20971209355_d466bb81ce_h.jpg"
                 style="background-image: url('http://c2.staticflickr.com/6/5705/20971209355_d466bb81ce_h.jpg');">

            </div>
            <div class="slide-caption">
                <div class="inner-container clearfix">
                    <div class="up-sec">We will be so proud to</div>
                    <div class="down-sec">Be Our Guest</div>
                </div>
            </div>
        </div>

        <div class="items">
            <div class="img-container"
                 data-bg-img="http://c1.staticflickr.com/1/782/20783853158_c1a425f63b_h.jpg"
                 style="background-image: url('http://c1.staticflickr.com/1/782/20783853158_c1a425f63b_h.jpg');">

            </div>
            <div class="slide-caption">
                <div class="inner-container clearfix">
                    <div class="up-sec">Be happy in our</div>
                    <div class="down-sec">Galina Hotel</div>
                </div>
            </div>
        </div>

    </section>
    <!-- End of Main Slider -->
    <!--Main Booking form-->
    <section id="main-availability-form">
        <div class="inner-container container">
            <div class="l-sec col-md-4">
                <div class="ravis-title">
                    <div class="inner-box">
                        <div class="title">Find a Room</div>
                        <div class="sub-title">When you want to be our guest?</div>
                    </div>
                </div>
            </div>
            <div class="r-sec col-md-8">
                <form class="booking-form clearfix" action="">
                    <!-- Do Not remove the classes -->
                    <div class="col-md-10">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim esse id illo laboriosam magnam
                        odio quis, suscipit voluptatibus. Doloremque expedita hic ipsam iusto natus neque quidem. Culpa
                        earum eum, harum hic molestiae nemo quod ut! Adipisci aliquid asperiores commodi, cumque, dolor
                        dolore dolores dolorum eaque exercitationem fugit harum hic id molestias natus nesciunt nisi
                        odio pariatur perferendis placeat reiciendis repudiandae sed sequi sint unde vero? Ad
                        architecto, dolore est exercitationem iusto laudantium nihil odit possimus qui quibusdam saepe
                        vero voluptatem.
                    </div>
                    <div class="col-md-2">

                            <button type="button" class="ravis-btn btn-type-1">
                                <a href="/booking">
                                    <span class="inner-box">
                                        Book
                                    </span>
                                </a>
                            </button>
      
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--End of Main Booking form-->
</div>

<!--Welcome Section-->
<section id="welcome-section">
    <div class="inner-container container">
        <div class="l-sec col-md-7">
            <div class="ravis-title-t-1">
                <div class="title"><span>Galina Hotel</span></div>
                <div class="sub-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim esse id illo laboriosam magnam
                odio quis, suscipit voluptatibus. Doloremque expedita hic ipsam iusto natus neque quidem. Culpa
                earum eum, harum hic molestiae nemo quod ut! Adipisci aliquid asperiores commodi, cumque, dolor
                dolore dolores dolorum eaque exercitationem fugit harum hic id molestias natus nesciunt nisi
                odio pariatur perferendis placeat reiciendis repudiandae sed sequi sint unde vero? Ad
                architecto, dolore est exercitationem iusto laudantium nihil odit possimus qui quibusdam saepe
                vero voluptatem.
            </div>
            <a href="./about-us" class="ravis-btn btn-type-2">About Us</a>
        </div>
        <div class="r-sec col-md-5">
            <img src="http://c1.staticflickr.com/1/678/22998529723_795c017340_b.jpg" alt="Galina Hotel">
        </div>
    </div>
</section>
<!--End of Welcome Section-->
<!--Luxury Room Section-->
<section id="luxury-rooms" class="clearfix">
    <div class="room-boxes col-sm-6 col-md-3">
        <a class="inner-container"
           data-bg="http://c1.staticflickr.com/1/634/21022404232_68c6561bc2.jpg"
           style="background-image: url('http://c1.staticflickr.com/1/634/21022404232_68c6561bc2.jpg');">
            <span class="ravis-title">
                <span class="inner-box">
                    <span class="title">Super Room</span>
                    <span class="sub-title">The best suit for families</span>
                </span>
            </span>
        </a>
    </div>
    <div class="room-boxes col-sm-6 col-md-3">
        <a class="inner-container"
           data-bg="http://c2.staticflickr.com/6/5734/23625841755_97c0a0b388_b.jpg"
           style="background-image: url('http://c2.staticflickr.com/6/5734/23625841755_97c0a0b388_b.jpg');">
            <span class="ravis-title">
                <span class="inner-box">
                    <span class="title">Deluxe Suite</span>
                    <span class="sub-title">Luxury suite with greate view</span>
                </span>
            </span>
        </a>
    </div>
    <div class="room-boxes col-sm-6 col-md-3">
        <a class="inner-container"
           data-bg="http://c2.staticflickr.com/6/5752/20350565133_4231fb1296_h.jpg"
           style="background-image: url('http://c2.staticflickr.com/6/5752/20350565133_4231fb1296_h.jpg');">
            <span class="ravis-title">
                <span class="inner-box">
                    <span class="title">City View Suite</span>
                    <span class="sub-title">Suitable for families</span>
                </span>
            </span>
        </a>
    </div>
    <div class="room-boxes col-sm-6 col-md-3">
        <a class="inner-container"
           data-bg="http://c1.staticflickr.com/1/597/20783734198_e5dc4921b6_h.jpg"
           style="background-image: url('http://c1.staticflickr.com/1/597/20783734198_e5dc4921b6_h.jpg');">
            <span class="ravis-title">
                <span class="inner-box">
                    <span class="title">Sea View Suite</span>
                    <span class="sub-title">Great choice for small families</span>
                </span>
            </span>
        </a>
    </div>
</section>
<!--End of Luxury Room Section-->
<!-- Hotel Sections -->
<section id="upcoming-events">
    <div class="inner-container container">
        <div class="ravis-title">
            <div class="inner-box">
                <div class="title">Upcoming Events</div>
                <div class="sub-title">We proudly host some international events</div>
            </div>
        </div>
    </div>
</section>
<section id="hotel-sections">
    <div class="section-row clearfix">
        <div class="desc animated-box fadeInUp" data-animation="fadeInUp" data-delay="400">
            <div class="ravis-title-t-1">
                <div class="title"><span>Restaurant</span></div>
                <div class="sub-title">Enjoy the best dishes with great tastes</div>
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi architecto, aspernatur autem
                cum cupiditate debitis delectus dolor, doloribus dolorum et explicabo impedit in ipsam labore
                laboriosam libero minima minus obcaecati odit officia officiis praesentium quaerat quos repellat
                tempora ullam. <br> ut vero voluptatibus voluptatum. Iure rem, ut? Aliquam aut, autem blanditiis
                consectetur cum cupiditate dolor earum eos est eum eveniet explicabo incidunt, iste libero
                maiores minima mollitia, nihil numquam officiis perferendis porro quae qui quo quos reiciendis
                vel voluptate! Aliquam aut, exercitationem libero minus nam nostrum totam voluptate. Aliquam
                excepturi ipsam libero molestiae rerum sequi, vero? Amet dicta excepturi impedit ipsum libero
                neque quas quidem recusandae temporibus ut! Illum molestiae quod veniam! Amet architecto. <br>aut
                autem cumque cupiditate enim incidunt, laboriosam maiores minus nostrum placeat possimus quas
                quis quod saepe soluta totam voluptatibus. Consequatur maxime odit praesentium reiciendis
                temporibus! At delectus fuga molestiae nemo quaerat rerum sequi veniam voluptatum? Vero?
            </div>
        </div>
        <div class="img-container animated-box fadeInUp"
             data-animation="fadeInUp"
             data-bg-img="http://c2.staticflickr.com/6/5822/20979811641_6c93c7713a_h.jpg"
             style="background-image: url('http://c2.staticflickr.com/6/5822/20979811641_6c93c7713a_h.jpg');"></div>
    </div>
    <div class="section-row clearfix">
        <div class="img-container animated-box fadeInUp"
             data-animation="fadeInUp"
             data-bg-img="http://c1.staticflickr.com/1/606/20972857285_876ff68313_h.jpg"
             style="background-image: url('http://c1.staticflickr.com/1/606/20972857285_876ff68313_h.jpg');"></div>
        <div class="desc animated-box fadeInUp" data-animation="fadeInUp" data-delay="400">
            <div class="ravis-title-t-1">
                <div class="title"><span>Meeting Hall</span></div>
                <div class="sub-title">We provide greate services for your meetings</div>
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis deserunt distinctio
                doloremque ex exercitationem impedit odit porro ratione voluptas. Architecto nostrum praesentium
                tenetur? Deleniti obcaecati odit sequi similique. Ad aliquid corporis error, est eum id labore,
                quasi quia unde veritatis voluptate voluptatum. <br> Alias aspernatur atque, beatae blanditiis
                cumque delectus ducimus eum facere fuga, fugit incidunt inventore iste magnam mollitia nisi odio
                pariatur quae quaerat quas quia quidem quis quos reiciendis rem repellat repellendus
                reprehenderit repudiandae rerum saepe sed tempora temporibus tenetur, vitae? Aliquid expedita
                nihil vitae? Aspernatur at error et eum ex fugiat ipsa, iure magnam maxime nesciunt non nulla
                odit porro sit voluptatibus. A aliquam aliquid deleniti dicta dolorem dolorum earum error. <br>
                est eum excepturi explicabo facere ipsa ipsum iure laboriosam, nam nisi praesentium quam quis
                repellat, rerum sequi tempora. Accusamus accusantium cumque, dolorum ea expedita illum ipsum
                libero nobis provident velit? Commodi corporis enim fuga impedit quasi.
            </div>
        </div>
    </div>
    <div class="section-row clearfix">
        <div class="desc animated-box fadeInUp" data-animation="fadeInUp" data-delay="400">
            <div class="ravis-title-t-1">
                <div class="title"><span>Galina Lobby Bar & Lounge</span></div>
                <div class="sub-title">Relax in our luxury bars with great drinks</div>
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, earum eligendi esse incidunt
                laudantium molestias nisi pariatur soluta. Aspernatur consectetur consequatur doloremque quos
                unde. Cumque cupiditate ex fugiat iusto nesciunt odio odit officia, quae quam, quasi repellat
                veniam! Adipisci alias aut. <br> autem commodi consectetur consequuntur debitis dolor
                exercitationem fugit illo illum ipsa iusto minus nam nulla odit quae quaerat quam quas quisquam
                reiciendis saepe sequi, temporibus ullam velit, voluptas voluptates voluptatibus. Aliquid
                assumenda dolorum eaque, fugiat id ipsum nesciunt nostrum omnis optio praesentium provident
                quasi sequi soluta totam voluptatibus? Aliquid aperiam assumenda culpa cumque deleniti
                dignissimos doloremque dolorum eius enim expedita hic in iste magni molestias, mollitia nisi
                officiis quidem ratione. <br> repudiandae rerum tempora ullam voluptatem, voluptatum? Assumenda
                corporis cumque ducimus eum magni quaerat! Ea, illo libero nam neque odio provident sint vel.
                Asperiores culpa dolorem eligendi facilis iure laudantium molestias natus possimus qui quibusdam
                sit vel, voluptate voluptates voluptatibus!
            </div>
        </div>
        <div class="img-container animated-box fadeInUp"
             data-animation="fadeInUp"
             data-bg-img="http://c2.staticflickr.com/6/5727/20962692452_88ea078b08_h.jpg"
             style="background-image: url('http://c2.staticflickr.com/6/5727/20962692452_88ea078b08_h.jpg');">

        </div>
    </div>
</section>
<!-- End of Hotel Sections -->
<!-- Video Tour -->
<section id="video-tour"
         data-bg-img="http://c2.staticflickr.com/6/5748/20979811461_a101ecbc49_h.jpg"
         style="background-image: url('http://c2.staticflickr.com/6/5748/20979811461_a101ecbc49_h.jpg');">
    <div class="inner-container container">
        <div class="row">
            <div class="l-sec col-md-6">
                <div class="ravis-title">
                    <div class="inner-box">
                        <div class="title">Video Tour</div>
                        <div class="sub-title">Watch the video to find out more about our services</div>
                    </div>
                </div>
            </div>
            <div class="r-sec col-md-6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores facilis nulla repellat
                rerum veniam vitae, voluptatem? Ex harum incidunt magni minima natus, quaerat quis. Eum modi
                neque quae sequi temporibus!
            </div>
        </div>
        <div class="row btn-box">
            <a href="https://www.youtube.com/watch?v=pU_c0jU_Was" class="play-btn video-url">
                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<!-- End of Video Tour -->
