
@{
    ViewBag.Title = "AboutUs";
}



<!--Breadcrumb Section-->
<section id="breadcrumb-section"
         data-bg-img="http://img.asiabooking.com.vn/khach-san-galina-nha-trang-4928j88884.jpg"
         style="background-image: url('http://img.asiabooking.com.vn/khach-san-galina-nha-trang-4928j88884.jpg');">
    <div class="inner-container container">
        <div class="ravis-title">
            <div class="inner-box">
                <div class="title">About Us</div>
                <div class="sub-title">Some description about your hotel</div>
            </div>
        </div>
        <div class="breadcrumb">
            <ul class="list-inline">
                <li>
                    <a href="">
                        Home
                    </a>
                </li>
                <li class="current">
                    <a href="">
                        About Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--End of Breadcrumb Section-->