
@{
    ViewBag.Title = "Pool And Private Beach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/RestaurantBar/RestaurantBar.css" rel="stylesheet" />

<section class="nas-room">
    <section class="banner-img pool-party">
        <div class="overlay-black"></div>
        <div class="text text-center name-room-hotel">
            <h2>Pool And Private Beach</h2>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>
    </section>
</section>
<div class="margin-content">
    <section class="yaw-introduce-restaurantbar">
        <div class="padding-content">
            <h1>Introduce</h1>
            <p>
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel. Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel. Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            </p>
        </div>
    </section>
    <section class="yaw-allservices">
        <div class="col-md-4 services-box">
            <h3>Services 1</h3>
            <p class="price">10$</p>
            <p>Tincidunt integer eu augue augue nunc elit dolor </p>
        </div>
        <div class="col-md-4 services-box">
            <h3>Services 2</h3>
            <p class="price">20$</p>
            <p>Tincidunt integer eu augue augue nunc elit dolor</p>
        </div>
        <div class="col-md-4 services-box">
            <h3>Services 3</h3>
            <p class="price">30$</p>
            <p>Tincidunt integer eu augue augue nunc elit dolor</p>
        </div>
        <div class="col-md-4 services-box">
            <h3>Services 3</h3>
            <p class="price">40$</p>
            <p>Tincidunt integer eu augue augue nunc elit dolor</p>
        </div>
        <div class="col-md-4 services-box">
            <h3>Services 3</h3>
            <p class="price">50$</p>
            <p>Tincidunt integer eu augue augue nunc elit dolor</p>
        </div>
        <div class="col-md-4 services-box">
            <h3>Services 3</h3>
            <p class="price">60$</p>
            <p>Tincidunt integer eu augue augue nunc elit dolor</p>
        </div>
    </section>
</div>