
<div class="col-md-12 block">
    <div class="block-title block-title-corner">
        <div class="img">
            <img class="span-mid" src="~/Content/Images/Content-Right/icon4.png" alt="icon4" title="Tư vấn và hổ trợ">
        </div>
        <span>TƯ VẤN VÀ HỖ TRỢ</span>
    </div>
    <div class="col-md-12 nas-col">
        <div class="col-md-12 support-item nas-col">
            <img class="col-md-3 nas-col-padding-right" src="~/Content/Images/Content-Right/avartar.png" title="Phan Phước Thái - Tư vấn" alt="Phan Phước Thái - Tư vấn">
            <div class="col-md-9 nas-col">
                <div class="name">Phan Phước Thái - Tư vấn</div>
                <div class="phone">0164 459 5114</div>
                <div class="sky">
                    <a href="skype:facebook:k3vjn?chat" title="Phan Phước Thái - Tư vấn">
                        <img src="~/Content/Images/Content-Right/sky-online.png" style="border: none;" alt="Skype">
                    </a>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-12 support-item nas-col">
            <img class="col-md-3 nas-col-padding-right" src="~/Content/Images/Content-Right/avartar.png" title="Phạm Bình Phương Quang Hải - HotLine" alt="Phạm Bình Phương Quang Hải - Tư Vấn">
            <div class="col-md-9 nas-col">
                <div class="name">Phạm Bình Phương Quang Hải - Tư vấn</div>
                <div class="phone">0902 824 338</div>
                <div class="sky">
                    <a href="skype:phambpqhai?chat" title="Phạm Bình Phương Quang Hải - HotLine">
                        <img src="~/Content/Images/Content-Right/sky-online.png" style="border: none;" alt="Skype">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 support-item nas-col">
            <img class="col-md-3 nas-col-padding-right" src="~/Content/Images/Content-Right/avartar.png" title="Trần Quốc Thanh - HotLine" alt="Trần Quốc Thanh - Tư Vấn">
            <div class="col-md-9 nas-col">
                <div class="name">Trần Quốc Thanh - Tư vấn</div>
                <div class="phone">0913 869 985</div>
                <div class="sky">
                    <a href="skype:cuongphatbc?chat" title="Trần Quốc Thanh - HotLine">
                        <img src="~/Content/Images/Content-Right/sky-online.png" style="border: none;" alt="Skype">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 block">
    <div class="block-title block-title-corner">
        <div class="img">
            <img class="span-mid" src="~/Content/Images/Content-Right/icon6.png" alt="icon4" title="Tư vấn và hổ trợ">
        </div>
        <span>Tin Tức Từ NAAN Solution</span>
    </div>
    <div class="col-md-12 nas-col">
        <div class="col-md-12 support-item nas-col">
            <p>- Giải pháp công nghệ cần-phải-có những ngày mất điện</p>
        </div>
        <hr />
        <div class="col-md-12 support-item nas-col">
           <p>- Cận cảnh siêu tàu bay đầu tiên của Vietnam Airlines</p>
        </div>
        <hr />
        <div class="col-md-12 support-item nas-col">
            <p>- Những câu chuyện kỳ lạ đáng sợ về “thế giới ngầm” trên Internet</p>
        </div>
        <hr />
        <div class="col-md-12 support-item nas-col">
            <p>- Facebook “đọc” tâm trí của bạn như thế nào?</p>
        </div>
    </div>
</div>
<div class="col-md-12 block">
    <div class="block-title block-title-corner">
        <div class="img">
            <img class="span-mid" src="~/Content/Images/Content-Right/icon5.png" alt="icon4" title="Tư vấn và hổ trợ">
        </div>
        <span>Quảng Cáo</span>
    </div>
    <div class="col-md-12 nas-col">
        <img src="~/Content/Images/Content-Right/hotel.jpg" width="100%" />
    </div>
</div>

