<footer>
    <div class="dropup">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="border-radius: 0; border-bottom: transparent;">
            Tư vấn & Hỗ trợ
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="right:0;left:auto;min-width:300px;    border-radius: 1px;">
            <div class="col-md-12" style="margin:20px 0">
                <div class="img" style="display:inline-block">
                    <img src="Content/Images/Home/support.png" alt="Thái Phan - Tư vấn" style="height:35px; height: 40px;" />
                </div>
                <div class="name" style="display:inline-block;vertical-align:middle;">
                    <p style="margin-bottom:0;"><b>Tư Vấn</b></p>
                    <div> Thái Phan ( 0981.887.611 )</div>
                </div>
                <div style="    display: inline-block;    vertical-align: bottom;">
                    <a href="skype:facebook:k3vjn?chat" title="Thái Phan - Tư vấn">
                        <img src="~/Content/Images/Home/skype.png" style="border: none;" alt="Skype">
                    </a>
                </div>
            </div>
            <div class="col-md-12" style="margin:20px 0">
                <div class="img" style="display:inline-block">
                    <img src="Content/Images/Home/support.png" alt="Thái Phan - Tư vấn" style="height:35px; height: 40px;" />
                </div>
                <div class="name" style="display:inline-block;vertical-align:middle;">
                    <p style="margin-bottom:0;"><b>Chăm sóc khách hàng</b></p>
                    <div> Nguyễn Hải ( 0939.222.133 )</div>
                </div>
                <div style="    display: inline-block;    vertical-align: bottom;">
                    <a href="skype:phambpqhai?chat" title="Nguyễn Hải - Chăm sóc khách hàng">
                        <img src="~/Content/Images/Home/skype.png" style="border: none;" alt="Skype">
                    </a>
                </div>
            </div>
        </ul>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 nas-footer">
        <div class="nas-all-right">
            <p>
                © <a href="http://naansolution.com" title="NAAN Solution - Giải pháp quản lý khách sạn, phần mềm quản lý doanh nghiệp">NAAN Solution</a> 2011-2016. All Rights Reserved.<br />
            </p>
        </div>
        <div class=" nas-privacy-terms" >
            <p>
                <a>Privacy</a> & <a>Terms</a>
            </p>
        </div>
    </div>
</footer>
