<style>
    .nas-list-item ul{margin:0;padding:0}
    .nas-list-item ul li{list-style:none;}
    .nas-list-item ul li a{border: none;margin: 0; padding: 5px 10px;}
</style>
<div class="col-md-12 block">
    <div class="block-title block-title-corner">
        <div class="img">
            <img class="span-mid" src="~/Content/Images/Content-Right/icon4.png" alt="icon4" title="Tư vấn và hổ trợ">
        </div>
        <span>TƯ VẤN VÀ HỖ TRỢ</span>
    </div>
    <div class="col-md-12 nas-col">
        <div class="col-md-12 support-item nas-col">
            <img class="col-md-3 nas-col-padding-right" src="~/Content/Images/Content-Right/avartar.png" title="Thái Phan - Tư vấn" alt="Thái Phan - Tư vấn">
            <div class="col-md-9 nas-col">
                <div class="name">Thái Phan - Tư vấn</div>
                <div class="phone">0981.887.611</div>
                <div class="sky">
                    <a href="skype:thaiphan?chat" title="Thái Phan - Tư vấn">
                        <img src="~/Content/Images/Content-Right/sky-online.png" style="border: none;" alt="Skype">
                    </a>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-12 support-item nas-col">
            <img class="col-md-3 nas-col-padding-right" src="~/Content/Images/Content-Right/avartar.png" title="Nguyễn Hải - HotLine" alt="Nguyễn Hải - Tư Vấn">
            <div class="col-md-9 nas-col">
                <div class="name">Nguyễn Hải - Tư vấn</div>
                <div class="phone">0939.222.133</div>
                <div class="sky">
                    <a href="skype:nguyenhai?chat" title="Nguyễn Hải - HotLine">
                        <img src="~/Content/Images/Content-Right/sky-online.png" style="border: none;" alt="Skype">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 block">
    <div class="block-title block-title-corner">
        <div class="img">
            <img class="span-mid" src="~/Content/Images/Content-Right/icon-solution.png" alt="icon4" title="Tư vấn và hổ trợ">
        </div>
        <span>Giải Pháp Quản Lý Khách Sạn</span>
    </div>
    <div class="col-md-12 nas-col nas-list-item">
        <ul>
            <li><a href="/thiet-ke-trang-web-khach-san" class="list-group-item" title="Thiết Kế Trang Web Khách Sạn">Thiết Kế Trang Web Khách Sạn</a></li>
            <li><a href="/phan-mem-dat-phong-truc-tuyen" class="list-group-item" title="Phần Mềm Đặt Phòng Trực Tuyến">Phần Mềm Đặt Phòng Trực Tuyến</a></li>
            <li><a href="/phan-mem-quan-ly-khach-san-Namoly" class="list-group-item" title="Phần Mềm Quản Lý Khách Sạn Namoly">Phần Mềm Quản Lý Khách Sạn Namoly</a></li>
        </ul>
    </div>
</div>
<div class="col-md-12 block">
    <div class="block-title block-title-corner">
        <div class="img">
            <img class="span-mid" src="~/Content/Images/Content-Right/business-management-software.png" alt="icon4" title="Tư vấn và hổ trợ">
        </div>
        <span>Quản Lý Doanh Nghiệp</span>
    </div>
    <div class="col-md-12 nas-col nas-list-item">
        <ul>
            <li><a href="/phan-mem-quan-ly-ban-hang-truc-tuyen" title="Phần Mềm Quản Lý Bán Hàng Trực Tuyến" class="list-group-item">Quản Lý Bán Hàng Trực Tuyến</a></li>
            <li><a href="/phan-mem-quan-ly-chuoi-cung-ung" title="Phần Mềm Quản Lý Chuỗi Cung Ứng" class="list-group-item">Quản Lý Chuỗi Cung Ứng</a></li>
            <li><a href="/phan-mem-quan-ly-tai-chinh-ke-toan" title="Phần Mềm Quản Lý Tài Chính Kế Toán" class="list-group-item">Quản Lý Tài Chính Kế Toán</a></li>
            <li><a href="/phan-mem-quan-ly-nhan-su" title="Phần Mềm Quản Lý Nhân Sự" class="list-group-item">Quản Lý Nhân Sự</a></li>
            <li><a href="/phan-mem-quan-ly-quan-he-khach-hang" title="Phần Mềm Quản Lý Quan Hệ Khách Hàng" class="list-group-item">Quản Lý Quan Hệ Khách Hàng</a></li>
            <li><a href="/phan-mem-quan-ly-he-thong-phan-phoi" title="Phần Mềm Quản Lý Hệ Thống Phân Phối" class="list-group-item">Quản Lý Hệ Thống Phân Phối (DMS)</a></li>
            <li><a href="/phan-mem-quan-ly-trang-trai-Nafaly" title="Phần Mềm Quản Lý Trang Trại, Nông Trại Nafaly" class="list-group-item">Quản Lý Trang Trại Nafaly</a></li>
            <li><a href="/phan-mem-quan-ly-nghiep-vu-thuong-mai-thep-NAANSteel" title="Phần Mềm Quản Lý Nghiệp Vụ Thương Mại Thép NAANSteel" class="list-group-item">Quản Lý Nghiệp Vụ Thương Mại Thép NAANSteel</a></li>
            <li><a href="/phan-mem-quan-ly-to-chuc-hiep-hoi" title="Phần mềm quản lý nghiệp vụ tổ chức hiệp hội NAS AMS" class="list-group-item">Quản Lý Tổ Chức Hiệp Hội</a></li>
        </ul>
    </div>
</div>
<div class="col-md-12 block">
    <div class="block-title block-title-corner">
        <div class="img">
            <img class="span-mid" src="~/Content/Images/Content-Right/digital-marketing-solution.png" alt="icon4" title="Tư vấn và hổ trợ">
        </div>
        <span>Giải Pháp Tiếp Thị Số</span>
    </div>
    <div class="col-md-12 nas-col nas-list-item">
        <ul>
            <li><a href="/tu-van-thiet-ke-web-theo-nhu-cau" class="list-group-item" title="Tư Vấn Thiết Kế Web Theo Nhu Cầu">Tư Vấn Thiết Kế Web Theo Nhu Cầu</a></li>
            <li><a href="/dịch-vu-cai-thien-thu-hang-web" title="Dịch Vụ Cải Thiện Thứ Hạng Web" class="list-group-item">Dịch Vụ Cải Thiện Thứ Hạng Web</a></li>
            <li><a href="/tro-choi-quang-cao-thuong-hieu-san-pham" title="Trò Chơi Qảng Cáo Thương Hiệu Sản Phẩm" class="list-group-item">Trò Chơi Qảng Cáo Thương Hiệu Sản Phẩm</a></li>
        </ul>
    </div>
</div>

