@{
  ViewBag.Title = "Home Page";
}
<section id="main-content">
  <section class="wrapper site-min-height">
    <div class="nas-content">
      <div class="col-md-12">
        <h1 style="font-size: 25px; margin: 10px 0;">Bắt đầu với kho ứng dụng của NAAN Solution</h1>
        <p>Hãy chọn một ứng dụng phù hợp với nhu cầu của các bạn và xem hướng dẫn trực tuyến, video và tài liệu của ứng dụng.</p>
      </div>
      <div class="col-sm-12">

      </div>
    </div>
  </section>
</section>