
@{
    ViewBag.Title = "Destination";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .banner-img {
        position: relative;
        padding: 10% 0;
        /*margin-bottom: 30px;*/
    }

    .galina-spa {
        background: #808080 url('../../../Images/galinaspa/spa.jpg') center bottom no-repeat fixed;
        background-size: cover;
    }



    .name-room-hotel {
        position: relative;
        z-index: 3;
    }

        .name-room-hotel h2 {
            font-size: 2.2em;
            font-weight: 800;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: -.5px;
        }

        .name-room-hotel p {
            font-size: 1.2em;
            color: #fff;
        }
           .yaw-introduce-galinaspa .padding-content h1 {
    font-size: 2.7em;
    font-weight: 800;
    margin-bottom: 30px;
}

.padding-content {
    padding: 20px 15% 40px;
    text-align: justify;
    text-align-last: center;
}
</style>
<section class="nas-room">
    <section class="banner-img galina-spa">
        <div class="overlay-black"></div>
        <div class="text text-center name-room-hotel">
            <h2>Destination</h2>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>
    </section>
</section>
<div class="margin-content" style="margin-bottom:0;">
    <section class="yaw-introduce-galinaspa">
        <div class="padding-content">
            <h1>Introduce</h1>
            <p>
                Phu Quoc is home to some of Vietnam's best beaches, and for many years it was Vietnam's best-kept secret.This Pearl Island never has a shortage of places to explore or new things to do and see. Its attractions aren't just limited to its stunning beaches, but extends to historical sites, Buddhist shrines, and fishing villages have stood out to represent for Phu Quoc than other sea places.

                Things To Do On Phu Quoc Island. Phu Quoc Nightlife. Dance the night away and meet fellow travelers by exploring our in depth island nightlife guide. Go Snorkeling. Discover snorkeling on Phu Quoc! Try Scuba Diving. Water Puppet Show. Night Market Experience. Golf Phu Quoc. Go Fishing. Vinpearl Land.

                And the most special thing you can enjoy near by "YOU & WE" is taking mud-bath & massages at the GALINA MUD BATH & SPA PHU QUOC.
            </p>
        </div>
    </section>
   
</div>

