@{
    ViewBag.Title = "Tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/AboutUst/Career.css" rel="stylesheet" />

<div id="content">
    <div id="content-left" class="content-left-show">
        <div class="col-md-12">
            <div class="block-title block-title-corner">
                    <h1  alt="Tuyển dụng">Tuyển dụng</h1>
                @*<h1 class="nas-title-software">Tuyển dụng</h1>*@
            </div>
        </div>

        <div class="col-md-12 nas-career">

            <div class="col-md-12 nas-content-career">
                <div class="col-md-12 nas-description">
                    <p>Chúng tôi đang tìm kiếm các ứng viên, những cá nhân có tâm huyết để cùng sở hữu, phát triển công ty. Chúng tôi mời bạn gia nhập môi trường làm việc năng động, thỏa sức sáng tạo tại NAAN - nơi đóng góp mỗi cá nhân được trân trọng và ghi nhận.</p>
                </div>
                <div class="col-md-12 nas-title">
                    1. Vị trí tuyển dụng:
                </div>
                <div class="row">
                    <div class="col-md-4  nas-box-career">
                        <a href="./tuyen-dung/ho-tro-khach-hang-va-qa-qc-thuc-tap">
                            <div class="nas-post-box">
                                <div class="nas-box">
                                    <div class="img">
                                        <img src="~/Content/Images/client/career-1.png" />
                                    </div>
                                    <div class="title">
                                        Hỗ trợ khách hàng và QA/QC thực tập
                                    </div>
                                    <div class="number">
                                        <b>Số lượng: 05</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4  nas-box-career">
                        <a href="./tuyen-dung/lap-trinh-vien-thuc-tap">
                            <div class="nas-post-box">
                                <div class="nas-box">
                                    <div class="img">
                                        <img src="~/Content/Images/client/career-3.png" />
                                    </div>
                                    <div class="title">
                                        Lập trình viên thực tập
                                    </div>
                                    <div class="number">
                                        <b>Số lượng: 05</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4  nas-box-career">
                        <a href="./tuyen-dung/ban-hang">
                            <div class="nas-post-box">
                                <div class="nas-box">
                                    <div class="img">
                                        <img src="~/Content/Images/client/career-2.png" />
                                    </div>
                                    <div class="title">
                                        Bán hàng
                                    </div>
                                    <div class="number">
                                        <b>Số lượng: 05</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 nas-title">
                    2. Hồ sơ phỏng vấn:
                </div>
                <div class="col-md-12 nas-post-content">
                    <p><strong>Hồ sơ:</strong></p>    <p>- Hồ sơ bao gồm: sơ yếu lý lịch và bằng cấp hay bảng điểm</p>    <p>- Hồ sơ xin gửi email tới: <a href="mailto:info@naansolution.com"><strong>info@naansolution.com</strong></a></p>    <p><strong>Phỏng vấn:</strong></p>    <p>- Các ứng viên có hồ sơ đạt yêu cầu sẽ được mời phỏng vấn trực tiếp tại văn phòng công ty.</p>    <p><strong>Thời gian và địa điểm:</strong></p>    <p>- Ứng viên sẽ có tối đa 2 tháng đào tạo trước khi vào làm chính thức.</p>    <p>- Thời gian làm việc trong ngày (thời gian có thể linh động theo khối lượng và chất lượng công việc):</p>    <p>+ Buổi sáng: <strong>từ 9:00 đến 12:30</strong></p>    <p>+ Buổi chiều: <strong>từ 14:00 đến 18:30</strong></p>    <p>- Địa điểm làm việc: Tại văn phòng công ty</p>
                </div>
            </div>
        </div>

    </div>
</div>