@{
    ViewBag.Title = "CareerProgrammerTrainee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/AboutUst/Career.css" rel="stylesheet" />

<div id="content">
    <div id="content-left" class="content-left-show">
        <div class="col-md-12">
            <div class="block-title block-title-corner">
                <h1 alt="Lập trình viên thực tập">
                    Lập trình viên thực tập
                </h1>
                @*<h1 class="nas-title-software">Tuyển dụng</h1>*@
            </div>
        </div>
        <div class="col-md-12 ">
                <p><strong>Mô tả công việc:</strong></p> <ul> 	<li>Ứng viên sẽ được hướng dẫn, nghiên cứu công nghệ mới và phát triển sản phẩm phần mềm của công ty.</li> 	<li>Công cụ để nghiên cứu và phát triển phần mềm: Thiết kế hệ thông với Enterprise Architect (UML). Lập trình Devexpress (C#), Angularjs, MongoDB, Neo4J. Công nghệ Cloud: Amazon Web Services, Microsoft Azure</li> 	<li>Số lượng:<strong> 05</strong></li> </ul> <p><strong>Yêu cầu:</strong></p> <ul> 	<li>Hoàn tất hoặc sắp hoàn tất chương trình năm cuối các chuyên ngành công nghệ thông tin;</li> 	<li>Có tinh thần làm việc nhóm</li> 	<li>Có khả năng đi công tác xa</li> 	<li>Có ý thức trách nhiệm và sẵn sàng đón nhận nhiệm vụ được giao</li> 	<li>Khả năng hoàn thành nhiệm vụ trong thời hạn được giao</li> 	<li>Chấp hành các kỷ luật bảo mật và nội quy công ty</li> </ul> <p><strong>Quyền lợi của ứng viên:</strong></p> <ul> 	<li>Ứng viên có cơ hội tham gia làm chủ công ty và tham gia vào công việc thực tế tại Công ty và các đối tác công ty;</li> 	<li>Các ứng viên phù hợp sau thời gian đào tạo sẽ được ký hợp đồng lao động chính thức.</li> </ul> <p>&nbsp;</p>
        </div>
    </div>
</div>
