@{
    ViewBag.Title = "CareerSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/AboutUst/Career.css" rel="stylesheet" />

<div id="content">
    <div id="content-left" class="content-left-show">
        <div class="col-md-12">
            <div class="block-title block-title-corner">
                <h1 alt="Bán hàng">
                    Bán hàng
                </h1>
                @*<h1 class="nas-title-software">Tuyển dụng</h1>*@
            </div>
        </div>

        <div class="col-md-12">



                <p><strong>Mô tả công việc:</strong></p> <ul> 	<li>Ứng viên sẽ được hướng dẫn và tham gia trực tiếp vào quá trình kiểm phẩm phần mềm quản trị doanh nghiệp, được hướng dẫn và đào tạo các phần mền đang có của Công ty.</li> 	<li>Ứng viên sẽ được đào tạo các kỹ năng bán hàng, kỹ năng quan sát và nắm bắt nhu cầu khách hàng.</li> 	<li>Ứng viên sẽ có cơ hội gặp gỡ, tư vấn khách hàng</li> 	<li>Số lượng: <strong>05</strong></li> </ul> <p><strong>Yêu cầu:</strong></p> <ul> 	<li>Hoàn tất hoặc sắp hoàn tất chương trình năm cuối các trường kinh tế, ngoại thương.</li> 	<li>Hiểu biết về nghiệp vụ nhà hàng và khách sạn là 1 lợi thế</li> 	<li>Có tinh thần làm việc nhóm</li> 	<li>Có khả năng đi công tác xa</li> 	<li>Có ý thức trách nhiệm và sẵn sàng đón nhận nhiệm vụ được giao</li> 	<li>Khả năng hoàn thành nhiệm vụ trong thời hạn được giao</li> 	<li>Chấp hành các quy tắc bảo mật và nội quy công ty</li> </ul> <p><strong>Quyền lợi của ứng viên:</strong></p> <ul> 	<li>Ứng viên có cơ hội tham gia làm chủ công ty và tham gia vào công việc thực tế tại Công ty và các đối tác công ty ;</li> 	<li>Các ứng viên phù hợp sau thời gian đào tạo sẽ được ký hợp đồng lao động chính thức.</li> </ul> <p>&nbsp;</p> <p>&nbsp;</p>





        </div>

    </div>
</div>
