@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/AboutUst/ContactUs.css" rel="stylesheet" />

<div class="col-md-12 nas-title">
    <div class="block-title block-title-corner">
        <h1 alt="Liên hệ">Liên hệ</h1>
        @*<h1 class="nas-title-software">Tuyển dụng</h1>*@
    </div>
</div>

<div class="col-md-12 nas-contactus">
    <div class="col-md-6 nas-box-lh">

        <div class="col-md-12 nas-sectionas-box">
            <form action="/" method="post" class="nas-form-lh" name="nForm">
                <div class="col-md-12 input-group">
                    <span class="input-group-addon" id="basic-addon3"><i class="glyphicons glyphicons-user"></i></span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" />
                </div>
                <div class="col-md-12 input-group">
                    <span class="input-group-addon" id="basic-addon3"><i class="glyphicons glyphicons-map-marker"></i></span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" />
                </div>

                <div class="col-md-12 input-group">
                    <span class="input-group-addon" id="basic-addon3"><i class="glyphicons glyphicons-phone-alt"></i></span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" />
                </div>

                <div class="col-md-12 input-group">
                    <span class="input-group-addon" id="basic-addon3"><i class="glyphicons glyphicons-envelope"></i></span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" />
                </div>

                <div class="col-md-12 input-group">
                    <span class="input-group-addon" id="basic-addon3"><i class="glyphicons glyphicons-pen"></i></span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" />
                </div>

                <div>
                    <input class="nas-btn-send" type="submit" />
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-6 nas-box-dc">
        <div class="col-md-12 nas-sectionas-box">
            <h4>Địa chỉ của chúng tôi</h4>

            <table class="table" style="font-size: 1.2em; marginas-bottom: 5px;">
                <tr>
                    <td>
                        <i class="glyphicons glyphicons-map-marker"></i>
                    </td>
                    <td>
                        358/2B Điện Biên Phủ, P.11 Q.10, TP.HCM
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="glyphicons glyphicons-phone-alt"></i>
                    </td>
                    <td>
                        (84 8) 383 440 97
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="glyphicons glyphicons-envelope"></i>
                    </td>
                    <td>
                        info@naansolution.com
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="glyphicons glyphicons-globe-af"></i>
                    </td>
                    <td>
                        www.naansolution.com
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-12 nas-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.47442064167!2d106.67849601422623!3d10.774929692322548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f26b7fb5405%3A0x37ffc06e47e9e778!2zQ8O0bmcgVHkgVE5ISCBHaeG6o2kgUGjDoXAgQ8O0bmcgTmdo4buHIE5hIEFu!5e0!3m2!1svi!2s!4v1479921016698" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
