@*@using FrontEnd.DAL*@
@using DevExpress.Xpo
@using DevExpress.Data.Filtering
@using CMSModule.Module.BusinessObjects.CMS.Galina


@{
    XpoDAO dao = new XpoDAO();
    var uow = dao.ProvideUnitOfWork();
    var result = new XPCollection<About>(uow, new BinaryOperator("Code", "About")).FirstOrDefault();

}

@{
    ViewBag.Title = result.Title;
}

<h2>@result.Title</h2>


test : @result.Code </br>
test : @result.Routing </br>
test :@Html.Raw(result.Content)  </br>