@using FrontEnd.DAL
@using DevExpress.Xpo
@using CMSModule.Module.BusinessObjects.CMS.Galina
@using DevExpress.Data.Filtering
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ 
    XpoDAO dao = new XpoDAO();
    var uow = dao.ProvideUnitOfWork();
    var result = new XPCollection<About>(uow, new BinaryOperator("Code", "About")).FirstOrDefault();
}
test : @result.Code