<!--Footer Section-->
<footer id="main-footer">
    <div class="inner-container container">
        <div class="b-sec clearfix">
            <div class="copy-right">
                <strong>GALINA Hotel & Spa</strong> - 05 Hung Vuong , Nha Trang, Vietnam
                <br />Call Us: (+84) 58 383 9999 - Hotline: 0916 786 077

            </div>
            <ul class="social-icons list-inline">
                <li><a href="http://ravistheme.com/colosseum/html/light/index-1.html#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://ravistheme.com/colosseum/html/light/index-1.html#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://ravistheme.com/colosseum/html/light/index-1.html#"><i class="fa fa-google-plus"></i></a></li>
            </ul>

        </div>
    </div>
</footer>
<!--End of Footer Section-->
