<header id="main-header" class="sticky">
    <div class="inner-container container">
        <div class="l-sec col-md-2 col-sm-6 col-xs-8 ">
            <a href="" id="t-logo">
                <img src="~/Content/images/logo/logo-galina-hotel-spa.png" width="100%" />
            </a>
        </div>
        <div class="r-sec col-md-10 col-sm-6 col-xs-4 ">
            <nav id="main-menu">
                <ul class="list-inline">
                    <li class="active">
                        <a href="/about-us">About</a>
                    </li>
                    <li>
                        <a href="">Accomodation</a>
                        <ul>
                            <li>
                                <a href="">Superior Room</a>
                            </li>
                            <li>
                                <a href="">Deluxe Room</a>
                            </li>
                            <li>
                                <a href="">City View Suite</a>
                            </li>
                            <li>
                                <a href="">Sea View Suite</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Wedding</a>
                        <ul>
                            <li><a href="">Galina Restaurant</a></li>
                            <li><a href="">Galina Restaurant</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Mud Bath & spa</a>
                        <ul>
                            <li><a href="">Spa</a></li>
                            <li><a href="">Mud Bath</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            Health Care
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    Traditional Medicince
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Orthodontic Center
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Aesthetic Surgery
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    ABOUT COSMETIC PROCEDURES
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    ABOUT YOGA CLASS
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            Images
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    Spa
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Video
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Camera LIVE</a>
                    </li>
                    <li>
                        <a href="">Explore Nha Trang</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                    <li>
                        <a href="">Nha Trang Dream</a>
                    </li>
                </ul>
            </nav>
            <div id="main-menu-handle" class="ravis-btn btn-type-2">
                <i class="fa fa-bars"></i>
                <i class="fa fa-close"></i>
            </div><!-- Mobile Menu handle -->
            @*<a href="" id="header-book-bow" class="ravis-btn btn-type-2">
                <span>Book</span>
                <i class="fa fa-calendar"></i>
            </a>*@
        </div>
    </div>
    <div id="mobile-menu-container">
        <nav id="main-menu" class="sticky">
            <ul class="list-inline">
                <li class="active">
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Accomodation</a>
                    <ul>
                        <li>
                            <a href="">Superior Room</a>
                        </li>
                        <li>
                            <a href="">Deluxe Room</a>
                        </li>
                        <li>
                            <a href="">City View Suite</a>
                        </li>
                        <li>
                            <a href="">Sea View Suite</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Wedding</a>
                    <ul>
                        <li><a href="">Galina Restaurant</a></li>
                        <li><a href="">Galina Restaurant</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Mud Bath & spa</a>
                    <ul>
                        <li><a href="">Spa</a></li>
                        <li><a href="">Mud Bath</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        Health Care
                    </a>
                    <ul>
                        <li>
                            <a href="">
                                Traditional Medicince
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Orthodontic Center
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Aesthetic Surgery
                            </a>
                        </li>
                        <li>
                            <a href="">
                                ABOUT COSMETIC PROCEDURES
                            </a>
                        </li>
                        <li>
                            <a href="">
                                ABOUT YOGA CLASS
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        Images
                    </a>
                    <ul>
                        <li>
                            <a href="">
                                Spa
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Video
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Camera LIVE</a>
                </li>
                <li>
                    <a href="">Explore Nha Trang</a>
                </li>
                <li>
                    <a href="">Contact Us</a>
                </li>
                <li>
                    <a href="">Nha Trang Dream</a>
                </li>
            </ul>
        </nav>
    </div>
</header>