
@{
    ViewBag.Title = "News Detail";
}

<div class="main-wapper">
    <!--Blog Container-->
    <section id="blog-section">
        <div class="inner-container container">
            <div class="ravis-title-t-2">
                <div class="title"><span>News</span></div>
            </div>
            <div style="margin:30px 0;"></div>
            <div class="post-main-container col-md-9">
                <!-- Post boxes -->
                <div class="post-box">
                    <div class="post-b-sec">
                        <div class="post-title-box">
                            <a href="" class="post-title">
                                Grand Opening Galina Orthodontic Center
                            </a>
                        </div>
                      
                        <div class="post-desc">
                          <p>On March 03, 2015, Galina Hotel &amp; Spa was honored to received the annual preticious award by Booking.com - "Award of Excellence for Booking.com Guest Review Awards 2014"</p><p><img src="//c1.staticflickr.com/1/727/20944324616_f232e9b4cf_b.jpg" width="100%"></p><p><img src="//c2.staticflickr.com/6/5794/20782534760_5d4accda5e_b.jpg" width="100%"></p>
                        </div>
                      
                     
                    </div>
                </div>
            </div>
            <!--Sidebar Section-->
            <aside id="sidebar" class="col-md-3">
                <!-- Archive Widget -->
                <div class="widget widget_archive">
                    <h3 class="side-title">
                        RELATED CONTENTS
                    </h3>
                    <ul>
                        <li>
                            <a href="">
                                Galina Hotel & Spa receive Booking.com award
                            </a>
                            &nbsp;10/5/2016
                        </li>
                        <li>
                            <a href="">
                                PERFECT WEDDING IN A 4-STAR “GALINA HOTEL & SPA”
                            </a>
                            &nbsp;25/4/2016
                        </li>
                        <li>
                            <a href="">
                                Yoga class at Galina Mud Bath & Spa- Register now and receive special offers!
                            </a>
                            &nbsp;2/3/2016
                        </li>

                    </ul>
                </div>

      
          
            </aside>
        </div>
    </section>
    <!--End of Blog Container-->
</div>

