@{
    ViewBag.Title = "Explore Nha Trang";
}
<div class="main-wrapper">
    <!--Room Section-->
    <section id="rooms-section" class="row-view nas-news">
        <div class="inner-container container">
            <div class="ravis-title-t-2">
                <div class="title"><span>News</span></div>
            </div>

            <div class="room-container clearfix">
                <div class="room-box col-md-12 animated-box fadeInUp" data-animation="fadeInUp">
                    <div class="col-md-3 room-img"
                         data-bg-img="http://c1.staticflickr.com/1/592/20757332558_c8be1c9e00_b.jpg"
                         style="background-image: url('http://c1.staticflickr.com/1/592/20757332558_c8be1c9e00_b.jpg');">
                        <a href="./explore-nha-trang/grand-opening-galina-orthodontic-center" class="more-info-url"></a>
                    </div>
                    <div class="r-sec col-md-9">
                        <div class="col-md-6 m-sec">
                            <div class="title-box">
                                <div class="title">
                                    Grand Opening Galina Orthodontic Center
                                </div>
                            </div>

                            <a href="./explore-nha-trang/grand-opening-galina-orthodontic-center" class="more-info">
                                More Info
                            </a>
                        </div>
                        <div class="col-md-6 desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum eius eos fugiat illo
                            illumprovident, quas qui quisquam quod sint velit voluptate voluptatum. 
                        </div>
                    </div>
                </div>
                <div class="room-box col-md-12 animated-box fadeInUp" data-animation="fadeInUp">
                    <div class="col-md-3 room-img"
                         data-bg-img="http://c1.staticflickr.com/1/727/20944324616_f232e9b4cf_b.jpg"
                         style="background-image: url('http://c1.staticflickr.com/1/727/20944324616_f232e9b4cf_b.jpg');">
                        <a href="./explore-nha-trang/galina-hotel-&-spa-receive-booking-com-award" class="more-info-url"></a>
                    </div>
                    <div class="r-sec col-md-9">
                        <div class="col-md-6 m-sec">
                            <div class="title-box">
                                <div class="title">
                                    Galina Hotel & Spa receive Booking.com award
                                </div>
                            </div>

                            <a href="./explore-nha-trang/galina-hotel-&-spa-receive-booking-com-award" class="more-info">
                                More Info
                            </a>
                        </div>
                        <div class="col-md-6 desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum eius eos fugiat illo
                            illum provident, quas qui quisquam quod sint velit voluptate voluptatum.
                        </div>
                    </div>
                </div>
                <div class="room-box col-md-12 animated-box fadeInUp" data-animation="fadeInUp">
                    <div class="col-md-3 room-img"
                         data-bg-img="http://c2.staticflickr.com/6/5804/20783799829_1bda9f6f29_h.jpg"
                         style="background-image: url('http://c2.staticflickr.com/6/5804/20783799829_1bda9f6f29_h.jpg');">
                        <a href="/explore-nha-trang/perfect-wedding-in-4-star-galina-hotel-&-spa" class="more-info-url"></a>
                    </div>
                    <div class="r-sec col-md-9">
                        <div class="col-md-6 m-sec">
                            <div class="title-box">
                                <div class="title">
                                    Perfect wedding in 4-star "Galina Hotel & Spa"
                                </div>
                            </div>

                            <a href="./explore-nha-trang/perfect-wedding-in-4-star-galina-hotel-&-spa" class="more-info">
                                More Info
                            </a>
                        </div>
                        <div class="col-md-6 desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum eius eos fugiat illo
                            illum provident, quas qui quisquam quod sint velit voluptate voluptatum. 
                        </div>
                    </div>
                </div>
                <div class="room-box col-md-12 animated-box fadeInUp" data-animation="fadeInUp">
                    <div class="col-md-3 room-img"
                         data-bg-img="http://c2.staticflickr.com/6/5762/20834726240_a01e302fe6_m.jpg"
                         style="background-image: url('http://c2.staticflickr.com/6/5762/20834726240_a01e302fe6_m.jpg');">
                        <a href="/explore-nha-trang/perfect-wedding-in-4-star-galina-hotel-&-spa" class="more-info-url"></a>
                    </div>
                    <div class="r-sec col-md-9">
                        <div class="col-md-6 m-sec">
                            <div class="title-box">
                                <div class="title">
                                    Yoga class at Galina Mud Bath & Spa- Register now and receive special offers!
                                </div>
                            </div>

                            <a href="/explore-nha-trang/perfect-wedding-in-4-star-galina-hotel-&-spa" class="more-info">
                                More Info
                            </a>
                        </div>
                        <div class="col-md-6 desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum eius eos fugiat illo
                            illum provident, quas qui quisquam quod sint velit voluptate voluptatum.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="pagination-box">
                <ul class="list-inline">
                    <li class="active">
                        <a href=""><span>1</span></a>
                    </li>
                    <li>
                        <a href=""><span>2</span></a>
                    </li>
                    <li>
                        <a href=""><span>3</span></a>
                    </li>
                </ul>
            </div>
            <!-- End of Pagination -->
        </div>
    </section>
    <!--End of Room Section-->


</div>