@{
    ViewBag.Title = "Hibis Beach Bar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/RestaurantBar/RestaurantBar.css" rel="stylesheet" />
<section class="nas-room">
    <section class="banner-img hibis-bar">
        <div class="overlay-black"></div>
        <div class="text text-center name-room-hotel">
            <h2>Hibis Beach Bar</h2>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>
    </section>
</section>
<div class="margin-content">

    <section class="yaw-introduce-restaurantbar">
        <div class="padding-content">
            <h1>Introduce</h1>
            <p>
                HIBIS BEACH BAR is the ideal place to unwind and enjoy the tropical beachfront atmosphere. Set directly on the soft white sands, HIBIS BEACH BAR is a relaxed beach bar that serves up cooling drinks, light snacks and the freshest local seaWater - perfect for guests to enjoy at any time of day
            </p>
        </div>
    </section>
    <section class="yaw-service-restaurantbar">
        <h1 class="title-menu-icon">Water Menu</h1>
        <div class="icon-menu"><img src="~/Images/restaurantbar/chef.png" /></div>
        <p style="margin: 5px 0 17px; text-transform: uppercase;text-align: center;"><strong>Open Hour // 8am – 22pm</strong></p>
        <div class="col-md-4 col-sm-4 col-xs-12 aaa">
            <div class="yaw-restaurantbar-item">
                <div class="img">
                    <p><img src="~/Images/restaurantbar/w1.png" /></p>
                </div>
                <div class="text">
                    <h3>Water 1</h3>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 aaa">
            <div class="yaw-restaurantbar-item">
                <div class="img">
                    <p><img src="~/Images/restaurantbar/w2.png" /></p>
                </div>
                <div class="text">
                    <h3>Water 2</h3>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 aaa">
            <div class="yaw-restaurantbar-item">
                <div class="img">
                    <p><img src="~/Images/restaurantbar/w3.png" /></p>
                </div>
                <div class="text">
                    <h3>Water 3</h3>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 aaa">
            <div class="yaw-restaurantbar-item">
                <div class="img">
                    <p><img src="~/Images/restaurantbar/w4.jpg" /></p>
                </div>
                <div class="text">
                    <h3>Water 4</h3>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="yaw-restaurantbar-item">
                <div class="img">
                    <p><img src="~/Images/restaurantbar/w5.jpg" /></p>
                </div>
                <div class="text">
                    <h3>Water 5</h3>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="yaw-restaurantbar-item">
                <div class="img">
                    <p><img src="~/Images/restaurantbar/w1.png" /></p>
                </div>
                <div class="text">
                    <h3>Water 6</h3>
                    
                </div>
            </div>
        </div>
    </section>
</div>

