
@{
    ViewBag.Title = "Promotion";
}

<div class="main-wrapper">
    <!--Room Section-->
    <section id="rooms-section" class="row-view nas-news">
        <div class="inner-container container">
            <div class="ravis-title-t-2">
                <div class="title"><span>Promotion</span></div>
            </div>

            <div class="room-container clearfix">
                <div class="room-box col-md-12 animated-box fadeInUp" data-animation="fadeInUp">
                    <div class="col-md-3 room-img"
                         data-bg-img="http://c2.staticflickr.com/6/5709/22538697407_9beda6143b_b.jpg"
                         style="background-image: url('http://c2.staticflickr.com/6/5709/22538697407_9beda6143b_b.jpg');">
                        <a href="/promotion/honeymoon-special-packages" class="more-info-url"></a>
                    </div>
                    <div class="r-sec col-md-9">
                        <div class="col-md-6 m-sec">
                            <div class="title-box">
                                <div class="title">
                                    Honeymoon special packages
                                </div>
                            </div>

                            <a href="/promotion/honeymoon-special-packages" class="more-info">
                                More Info
                            </a>
                        </div>
                        <div class="col-md-6 desc">
                            "Travel is not a gift, it´s a memory..."
                        </div>
                    </div>
                </div>
                <div class="room-box col-md-12 animated-box fadeInUp" data-animation="fadeInUp">
                    <div class="col-md-3 room-img"
                         data-bg-img="http://c1.staticflickr.com/1/628/21185403894_939bf7f4c5_m.jpg"
                         style="background-image: url('http://c1.staticflickr.com/1/628/21185403894_939bf7f4c5_m.jpg');">
                        <a href="/promotion/honeymoon-special-packages" class="more-info-url"></a>
                    </div>
                    <div class="r-sec col-md-9">
                        <div class="col-md-6 m-sec">
                            <div class="title-box">
                                <div class="title">
                                    Free hot mineral mud bath during Happy Hours
                                </div>
                            </div>

                            <a href="/promotion/honeymoon-special-packages" class="more-info">
                                More Info
                            </a>
                        </div>
                        <div class="col-md-6 desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum eius eos fugiat illo
                            illum provident, quas qui quisquam quod sint velit voluptate voluptatum.
                        </div>
                    </div>
                </div>
                <div class="room-box col-md-12 animated-box fadeInUp" data-animation="fadeInUp">
                    <div class="col-md-3 room-img"
                         data-bg-img="http://c2.staticflickr.com/6/5804/20783799829_1bda9f6f29_h.jpg"
                         style="background-image: url('http://c2.staticflickr.com/6/5804/20783799829_1bda9f6f29_h.jpg');">
                        <a href="/promotion/honeymoon-special-packages" class="more-info-url"></a>
                    </div>
                    <div class="r-sec col-md-9">
                        <div class="col-md-6 m-sec">
                            <div class="title-box">
                                <div class="title">
                                    Yoga class at Galina Mud Bath & Spa- Register now and receive special offers!
                                </div>
                            </div>

                            <a href="/promotion/honeymoon-special-packages" class="more-info">
                                More Info
                            </a>
                        </div>
                        <div class="col-md-6 desc">
                           ...
                        </div>
                    </div>
                </div>

            </div>
            <!-- Pagination -->
            <div class="pagination-box">
                <ul class="list-inline">
                    <li class="active">
                        <a href=""><span>1</span></a>
                    </li>
                    <li>
                        <a href=""><span>2</span></a>
                    </li>
                    <li>
                        <a href=""><span>3</span></a>
                    </li>
                </ul>
            </div>
            <!-- End of Pagination -->
        </div>
    </section>
    <!--End of Room Section-->


</div>
