
@{
    ViewBag.Title = "Promotion Detail";
}

<div class="main-wapper">
    <!--Blog Container-->
    <section id="blog-section">
        <div class="inner-container container">
            <div class="ravis-title-t-2">
                <div class="title"><span>Promotion</span></div>
            </div>
            <div style="margin:30px 0;"></div>
            <div class="post-main-container col-md-9">
                <!-- Post boxes -->
                <div class="post-box">
                    <div class="post-b-sec">
                        <div class="post-title-box">
                            <a href="" class="post-title">
                                Grand Opening Galina Orthodontic Center
                            </a>
                        </div>

                        <div class="post-desc">
                            <p><img src="http://c2.staticflickr.com/6/5709/22538697407_9beda6143b_b.jpg" width="100%"></p><p>"Travel is not a gift, it´s a memory..."</p><p>Galina Hotel &amp; Spa offers all couples 2 honeymoon pakages as follows:</p><p><strong>Package 1: ROMANTIC HONEYMOON PACKAGE</strong></p><p>Only VND 3,750,000 ++, includes:</p><p>•	Accommodation 3 days and 2 nights at Superior City View for 2 persons</p><p>•	Complimentary check-in drinks</p><p>•	Complimentary  welcome fruits within 2-first days</p><p>•	Complimentary honeymoon decoration with roses, cake and wine</p><p>•	Complimentary morning buffet for 2 persons</p><p>•	Complimentary a romantic dinner served in room or Galina Restaurant for 2 persons</p><p>•	Complimentary a mineral mud bath for 2 persons (mineral mud bath, sauna and steam, Jacuzzi, hydro-therapy, hydro foot massage and swimming pool)</p><p>•	Complimentary 2 bottled water everyday</p><p>•	Complimentary in-room tea and coffe</p><p>•	Complimentary internet access and wifi</p><p>•	Complimentary private beach, gym and swimming pool.</p><p><strong>Package 2: LUXURY HONEYMOON PACKAGE</strong></p><p>Only VND 5,250,000 ++, includes:</p><p>•	Accommodation 3 days and 2 nights at Deluxe City View for 2 persons</p><p>•	Complimentary airport transfer</p><p>•	Complimentary early check-in (depend on room availability)</p><p>•	Complimentary check-in drinks</p><p>•	Complimentary  welcome fruits</p><p>•	Complimentary honeymoon decoration with roses, cake and wine</p><p>•	Complimentary morning buffet for 2 persons</p><p>•	Complimentary sauna and steam, Jacuzzi and swimming pool</p><p>•	Complimentary a VIP mineral mud bath combo for 2 persons (mineral mud bath, Japanese Onsen bath and snacks)</p><p>•	Discount 20% all spa services</p><p>•	Complimentary 2 bottled water everyday</p><p>•	Complimentary in-room tea and coffee</p><p>•	Complimentary internet access and wifi</p><p>•	Complimentary private beach, gym and swimming pool.</p><p>For booking and more information, please contact us at <strong>0919 292 792</strong> or <strong>058 383 9999</strong></p>
                        </div>


                    </div>
                </div>
            </div>
            <!--Sidebar Section-->
            <aside id="sidebar" class="col-md-3">
                <!-- Archive Widget -->
                <div class="widget widget_archive">
                    <h3 class="side-title">
                        RELATED CONTENTS
                    </h3>
                    <ul>
                        <li>
                            <a href="">
                                Free hot mineral mud bath during Happy Hours
                            </a>
                            &nbsp;10/5/2016
                        </li>
                        <li>
                            <a href="">
                                Yoga class at Galina Mud Bath & Spa- Register now and receive special offers!
                            </a>
                            &nbsp;25/4/2016
                        </li>
                    </ul>
                </div>



            </aside>
        </div>
    </section>
    <!--End of Blog Container-->
</div>

