
@{
    ViewBag.Title = "Deluxe Sea View";
}

<link href="~/Content/css/Accomodation/accomodation.css" rel="stylesheet" />

<section class="nas-room">
    <section class="banner-img">
        <div class="overlay-black"></div>
        <div class="text text-center name-room-hotel">
            <h2>Deluxe Sea View</h2>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>
    </section>
    @*Post infor Room*@
    <div class="row nas-infor-room">
        <div class="col-md-12">
            <div class="max-width">
                <div id="owl-Slider" class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="http://scalabella.com/images/portfolio02.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="https://www.wernerlau.com/images/bali/header/header_alamanda_08.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="http://seminyak.thesamayabali.com/application/sites/seminyak/userfiles/header/Wedding%20Party%20at%20Beachfront.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="http://seminyak.thesamayabali.com/application/sites/seminyak/userfiles/header/Wedding%20Party%20at%20Beachfront.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="http://seminyak.thesamayabali.com/application/sites/seminyak/userfiles/header/Wedding%20Party%20at%20Beachfront.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="max-width">
                <h4>
                    Deluxe Sea View
                    <p class="text-price">Price<span class="price-room"> 3.675.000 VND </span>/<span class="day-room"> day</span></p>
                    <p><a href="~/reservation/1" class="yaw-button yaw-button-view" style="margin:0">Book Now</a></p>
                </h4>
                <p>
                    The Deluxe Sea View teases their occupants with a delightful view of the Pearl Island. The view definitely complements the traditional Vietnamese Northern Delta style and design.
                    Inside the rooms, more local culture influences are visible, from the fine carving on the furniture, to the exotic bed. It creates romantic ambiance and enhanced privacy in the room.
                </p>
                <div class="col-md-4 col-sm-6 col-xs-12 service-room">
                    <h5>Special Room</h5>
                    <ul>
                        <li>10 units with Twin bed</li>
                        <li>08 units with Twin bed and flower balcony</li>
                        <li>Average size 45m with balcony </li>
                        <li>En-suite bathroom with shower &  bathtub</li>
                        <li>18 Rooms</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-room">
                    <h5>Amenities</h5>
                    <ul>
                        <li>48-inch LED TV</li>
                        <li>In-room safe</li>
                        <li>Minibar</li>
                        <li>24-hour room service</li>
                        <li>Complimentary High-speed Internet access</li>
                        <li>Air conditioning control</li>
                        <li>Marble bath</li>
                        <li>Hairdryer</li>
                        <li>Bathrobes</li>
                        <li>Balcony</li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="yaw-otherrooms">
            <div class="max-width">
                <h4>Other Rooms</h4>
                <div class="owl-carousel owl-theme slider-otherrooms">
                    <div class="item">
                        <div class="box-otherroom">
                            <div class="box-image">
                                <img src="~/Images/accomodation/room-2.jpg">
                                <div class="box-image-price">
                                    <p>5.355.000 vnd   <span> / night</span></p>
                                </div>
                            </div>
                            <h5>Balcony Beachfront Villa</h5>
                            <ul>
                                <li><span class="glyphicons glyphicons-bedroom-lamp"></span><b>Rooms</b>: 7 </li>
                                <li><span class="glyphicons glyphicons-person"></span><b>Max</b>: 3 Person(s)</li>
                                <li>
                                    <span class="glyphicons glyphicons-bed-alt"></span><b>Bed</b>: 08 units with Twin beds -
                                    Average size 50m with flower balcony
                                </li>
                                <li><span class="glyphicons glyphicons-eye-open"></span><b>View</b>: Beach front</li>
                            </ul>
                            <a href="~/balcony-beachfront-villa" class="yaw-button yaw-button-view">View Detail</a>
                            <a href="~/reservation/4" class="yaw-button yaw-button-view">Book Now</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-otherroom">
                            <div class="box-image">
                                <img src="~/Images/accomodation/room-3.jpg">
                                <div class="box-image-price">
                                    <p>3.675.000 vnd   <span> / night</span></p>
                                </div>
                            </div>
                            <h5>Premier Deluxe Sea View</h5>
                            <ul>
                                <li><span class="glyphicons glyphicons-bedroom-lamp"></span><b>Rooms</b>: 12 </li>
                                <li><span class="glyphicons glyphicons-person"></span><b>Max</b>: 3 Person(s)</li>
                                <li>
                                    <span class="glyphicons glyphicons-bed-alt"></span><b>Bed</b>: 06 units with Double bed flower balcony - Average size 51m with balcony
                                </li>
                                <li><span class="glyphicons glyphicons-eye-open"></span><b>View</b>: Ocean</li>
                            </ul>
                            <a href="~/premier-deluxe-sea-view" class="yaw-button yaw-button-view">View Detail</a>
                            <a href="~/reservation/2" class="yaw-button yaw-button-view">Book Now</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-otherroom">
                            <div class="box-image">
                                <img src="~/Images/accomodation/room-1.jpg">
                                <div class="box-image-price">
                                    <p>4.462.500 vnd   <span> / night</span></p>
                                </div>
                            </div>
                            <h5>Executive Deluxe Sea View</h5>
                            <ul>
                                <li><span class="glyphicons glyphicons-bedroom-lamp"></span><b>Rooms</b>: 8 </li>
                                <li><span class="glyphicons glyphicons-person"></span><b>Max</b>: 3 Person(s)</li>
                                <li>
                                    <span class="glyphicons glyphicons-bed-alt"></span><b>Bed</b>: 08 units with Twin bed -
                                    Average size 60m with flower balcony
                                </li>
                                <li><span class="glyphicons glyphicons-eye-open"></span><b>View</b>: Ocean</li>
                            </ul>
                            <a href="~/executive-deluxe-sea-view" class="yaw-button yaw-button-view">View Detail</a>
                            <a href="~/reservation/3" class="yaw-button yaw-button-view">Book Now</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-otherroom">
                            <div class="box-image">
                                <img src="~/Images/accomodation/room-3.jpg">
                                <div class="box-image-price">
                                    <p>5.932.000 vnd   <span> / night</span></p>
                                </div>
                            </div>
                            <h5>Ancient Beachfront Villa</h5>
                            <ul>
                                <li><span class="glyphicons glyphicons-bedroom-lamp"></span><b>Rooms</b>: 4 </li>
                                <li><span class="glyphicons glyphicons-person"></span><b>Max</b>: 3 Person(s)</li>
                                <li>
                                    <span class="glyphicons glyphicons-bed-alt"></span><b>Bed</b>: 04 units with Double bed -
                                    02 units with flower balcony -
                                    Average size 45m with balcony
                                </li>
                                <li><span class="glyphicons glyphicons-eye-open"></span><b>View</b>: Beach front</li>
                            </ul>
                            <a href="~/ancient-beachfront-villa" class="yaw-button yaw-button-view">View Detail</a>
                            <a href="~/reservation/5" class="yaw-button yaw-button-view">Book Now</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-otherroom">
                            <div class="box-image">
                                <img src="~/Images/accomodation/room-3.jpg">
                                <div class="box-image-price">
                                    <p>7.1400.000 vnd   <span> / night</span></p>
                                </div>
                            </div>
                            <h5>Impeccable Beach Step Villa</h5>
                            <ul>
                                <li><span class="glyphicons glyphicons-bedroom-lamp"></span><b>Rooms</b>: 4 </li>
                                <li><span class="glyphicons glyphicons-person"></span><b>Max</b>: 3 Person(s)</li>
                                <li>
                                    <span class="glyphicons glyphicons-bed-alt"></span><b>Bed</b>: 04 units with Double bed -
                                    02 units with flower balcony -
                                    Average size 45m with balcony
                                </li>
                                <li><span class="glyphicons glyphicons-eye-open"></span><b>View</b>: Beach step</li>
                            </ul>
                            <a href="~/impeccable-beach-step-villa" class="yaw-button yaw-button-view">View Detail</a>
                            <a href="~/reservation/6" class="yaw-button yaw-button-view">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


<script type="text/javascript">
    $(document).ready(function () {
        $(document).ready(function () {
            $('#owl-Slider').owlCarousel({
                loop: true,
                items: 1,
                thumbs: true,
                thumbImage: true,
                thumbContainerClass: 'owl-thumbs',
                thumbItemClass: 'owl-thumb-item'
            })
            $('.slider-otherrooms').owlCarousel({
                autoplay: true,
                autoplayHoverPause: true,
                dotsSpeed: 300,
                loop: true,
                thumbs: false,
                margin: 10,
                nav: false,
                dots: true,
                //pagination: true,
                rewind: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4
                    }
                }
            })
        });
    });
</script>
