@{
    ViewBag.Title = "Coming Soon";
}

<div class="coming-soon">
    <div class="main-wrapper">
        <!--Coming Soon Section-->
        <section id="coming-soon">
            <div class="ravis-title">
                <div class="inner-box">
                    <div class="title">Coming Soon</div>
                    <div class="sub-title">We are working hard to come back soon</div>
                </div>
            </div>
            <div class="content">

                <!-- Search Box -->

                    <a href="/about-us">
                        <input type="button" class="search-submit" value="Back">
                    </a>

            </div>
        </section>
        <!--End of Coming Soon Section-->
    </div>
</div>