
@{
    ViewBag.Title = "Convention";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ul.aaa li{
        display:inline-block;
    } 
    ul.aaa li i {
        margin:0 3px;
    }
</style>
<section id="breadcrumb-section"
         data-bg-img="Content/images/wedding/wedding-2.jpg"
         style="background-image: url('Content/images/wedding/wedding-2.jpg');">
    <div class="inner-container container">
        <div class="ravis-title">
            <div class="inner-box">
                <div class="title">Convention</div>
                <div class="sub-title">  Tincidunt integer eu augue augue nunc</div>

            </div>
        </div>
        <div class="breadcrumb">
            <ul class="list-inline">
                <li>
                    <a href="./">
                        Home
                    </a>
                </li>
                <li class="current">
                    <a href="/convention">
                        Convention
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="history-section">
    <div class="inner-container container">
        <div class="ravis-title-t-2">
            <div class="title"><span>Galina Conference</span></div>
            <div class="sub-title"> Tincidunt integer eu augue augue nunc elit dolor</div>
        </div>
        <div class="col-md-12 nas-content">
            Galina Hotel & Spa is one of few hotels in Nha Trang having wedding and convention hall up to 800 seats. Galina hall could be flexibly divided by partitions into several small meeting rooms up to clients’ demand. Meeting rooms are fully equipped with high-end technologies and with professional organization services, Galina could meet all needs of large and small event organizations of clients.

            <ul class="aaa">
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>White board</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Writing pads and pens</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Reception table with fresh flowers</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Rostrum with wireless microphones</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Drinking water and refreshing mints</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Signboard outside the meeting room</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Flip chart and colored markers</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Air conditioning</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Projector / Screen</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Light and sound system</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Microphones</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Internet Access (wireless)</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Stage with Podium</li>
            </ul>
            <div style="margin-top:30px;"><img src="~/Content/images/wedding/wedding-7.jpg" alt="Wedding" title="Wedding" style="width:100%;" /></div>
        </div>
    </div>
</section>
<section id="gallery" style="padding-top:0;">
    <div class="inner-container container">
        <!-- Gallery Container -->
        <div class="gallery-container">
            @*<div class="sort-section">
                    <div class="sort-section-container">
                        <div class="sort-handle">Filters</div>
                        <ul class="list-inline">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".restaurant" class="">Restaurant</a></li>
                            <li><a href="#" data-filter=".bars" class="">Bars</a></li>
                            <li><a href="#" data-filter=".pool" class="">Pool</a></li>
                            <li><a href="#" data-filter=".rooms" class="">Rooms</a></li>
                            <li><a href="#" data-filter=".lobby" class="">Lobby</a></li>
                        </ul>
                    </div>
                </div>*@
            <ul class="image-main-box clearfix" style="position: relative; height: 855px;">
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/wedding/wedding-4.jpg" alt="Wedding" title="Wedding" />
                        <a href="~/Content/images/wedding/wedding-4.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Wedding View 1</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 pool" style="position: absolute; left: 379px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/wedding/wedding-1.jpg" alt="Wedding" title="Wedding" />
                        <a href="~/Content/images/wedding/wedding-1.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Wedding View 2</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 bars" style="position: absolute; left: 759px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/wedding/wedding-6.jpg" alt="Wedding" title="Wedding" />
                        <a href="~/Content/images/wedding/wedding-6.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Wedding View 3</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 restaurant" style="position: absolute; left: 0px; top: 285px;">
                    <figure>
                        <img src="~/Content/images/wedding/wedding-5.jpg" alt="Wedding" title="Wedding" />
                        <a href="~/Content/images/wedding/wedding-5.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Wedding View 4</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 pool" style="position: absolute; left: 379px; top: 285px;">
                    <figure>
                        <img src="~/Content/images/wedding/wedding-3.jpg" alt="Wedding" title="Wedding" />
                        <a href="~/Content/images/wedding/wedding-3.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Wedding View 5</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 rooms" style="position: absolute; left: 759px; top: 285px;">
                    <figure>
                        <img src="~/Content/images/wedding/wedding-2.jpg" alt="Wedding" title="Wedding" />
                        <a href="~/Content/images/wedding/wedding-2.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Wedding View 6</h4>
                        </figcaption>
                    </figure>
                </li>
            </ul>


        </div>
    </div>
</section>

