@{
    ViewBag.Title = "GalinaWedding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="breadcrumb-section"
         data-bg-img="//c1.staticflickr.com/1/743/20980120241_6c3345d424_b.jpg"
         style="background-image: url('//c1.staticflickr.com/1/743/20980120241_6c3345d424_b.jpg');">
    <div class="inner-container container">
        <div class="ravis-title">
            <div class="inner-box">
                <div class="title">Galina Wedding</div>
                <div class="sub-title">  Tincidunt integer eu augue augue nunc</div>

            </div>
        </div>
        <div class="breadcrumb">
            <ul class="list-inline">
                <li>
                    <a href="./">
                        Home
                    </a>
                </li>
                <li class="current">
                    <a href="/wedding">
                        Galina Wedding
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="history-section">
    <div class="inner-container container">
        <div class="ravis-title-t-2">
            <div class="title"><span>Wedding</span></div>        
            <div class="sub-title"> Tincidunt integer eu augue augue nunc elit dolor</div>
        </div>
        <div class="col-md-12 nas-content">
            Located at 1st floor of hotel, Galina Restaurant serves all you from breakfast to lunch and dinner with tasty and various kind of Vietnamese, Eastern and Western cuisine and a la carte service 24/7 at hotel. Guests also can have buffet seafood dinner each weekend in a cozy, friendly and stylish setting. With decoration of modern, stunning of Nha Trang city view, we bring you the real Nha Trang with real fresh food for your luxury living.
            <div>Location: 01st floor</div>
            <div>Opening hours: 7:00 am - 23:00 pm</div>
        </div>
    </div>
</section>
<section id="gallery" style="padding-top:0;">
    <div class="inner-container container">
        <!-- Gallery Container -->
        <div class="gallery-container">

            <ul class="image-main-box clearfix" style="position: relative; height: 855px;">
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="//c1.staticflickr.com/1/691/20432949053_72dd9346f8.jpg" alt="Wedding" title="Wedding" />
                        <a href="//c1.staticflickr.com/1/691/20432949053_72dd9346f8.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Wedding View 1</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 pool" style="position: absolute; left: 379px; top: 0px;">
                    <figure>
                        <img src="//c2.staticflickr.com/6/5766/20865900710_c361a22c65.jpg" alt="Wedding" title="Wedding" />
                        <a href="//c2.staticflickr.com/6/5766/20865900710_c361a22c65.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Wedding View 2</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 bars" style="position: absolute; left: 759px; top: 0px;">
                    <figure>
                        <img src="//c1.staticflickr.com/1/683/20866111108_8f91f76268.jpg" alt="Wedding" title="Wedding" />
                        <a href="//c1.staticflickr.com/1/683/20866111108_8f91f76268.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Wedding View 3</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 restaurant" style="position: absolute; left: 0px; top: 285px;">
                    <figure>
                        <img src="//c1.staticflickr.com/1/673/20431369424_8111c01284.jpg" alt="Wedding" title="Wedding" />
                        <a href="//c1.staticflickr.com/1/673/20431369424_8111c01284.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Wedding View 4</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 pool" style="position: absolute; left: 379px; top: 285px;">
                    <figure>
                        <img src="//c2.staticflickr.com/6/5618/21027777846_bed2d8331a.jpg" alt="Wedding" title="Wedding" />
                        <a href="//c2.staticflickr.com/6/5618/21027777846_bed2d8331a.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Wedding View 5</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 rooms" style="position: absolute; left: 759px; top: 285px;">
                    <figure>
                        <img src="//c2.staticflickr.com/6/5816/20432948333_bf5e7d60a6.jpg" alt="Wedding" title="Wedding" />
                        <a href="//c2.staticflickr.com/6/5816/20432948333_bf5e7d60a6.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Wedding View 6</h4>
                        </figcaption>
                    </figure>
                </li>            
            </ul>

          
        </div>
    </div>
</section>



