
@{
    ViewBag.Title = "GalinaLobby";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="breadcrumb-section"
         data-bg-img="Content/images/dinning/lobby-1.jpg"
         style="background-image: url('Content/images/dinning/lobby-1.jpg');">
    <div class="inner-container container">
        <div class="ravis-title">
            <div class="inner-box">
                <div class="title">Galina Lobby Bar & Lounge</div>
                <div class="sub-title">  Tincidunt integer eu augue augue nunc</div>

            </div>
        </div>
        <div class="breadcrumb">
            <ul class="list-inline">
                <li>
                    <a href="./">
                        Home
                    </a>
                </li>
                <li class="current">
                    <a href="/galina-lobby-bar-and-lounge">
                        Galina Lobby Bar & Lounge
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="history-section">
    <div class="inner-container container">
        <div class="ravis-title-t-2">
            <div class="title"><span>Galina Lobby Bar & Lounge</span></div>
            <div class="sub-title"> Tincidunt integer eu augue augue nunc elit dolor</div>
        </div>
        <div class="col-md-12 nas-content">
            Galina Lobby Bar & Lounge will bring you a very cozy, friendship and stylish space during your living time in hotel. Together with your family or friends, enjoy the taste of real coffee, get more trial with cocktail taste and take the picture for living moments will make your trip become more attractive. Let’s enjoy with us, you will have fully happy holiday with the interesting moments.
            <div>Location: Lobby</div>
            <div>Opening hours: 9:00 am - 23:00 pm</div>
        </div>
    </div>
</section>
<section id="gallery" style="padding-top:0;">
    <div class="inner-container container">
        <!-- Gallery Container -->
        <div class="gallery-container">
            @*<div class="sort-section">
                    <div class="sort-section-container">
                        <div class="sort-handle">Filters</div>
                        <ul class="list-inline">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".restaurant" class="">Restaurant</a></li>
                            <li><a href="#" data-filter=".bars" class="">Bars</a></li>
                            <li><a href="#" data-filter=".pool" class="">Pool</a></li>
                            <li><a href="#" data-filter=".rooms" class="">Rooms</a></li>
                            <li><a href="#" data-filter=".lobby" class="">Lobby</a></li>
                        </ul>
                    </div>
                </div>*@
            <ul class="image-main-box clearfix" style="position: relative; height: 855px;">
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/dinning/lobby-1.jpg" alt="Wedding" title="Wedding" />
                        <a href="~/Content/images/dinning/lobby-1.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Galina Lobby & Lounge 1</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 pool" style="position: absolute; left: 379px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/dinning/lobby-2.jpg" alt="Wedding" title="Wedding" />
                        <a href="~/Content/images/dinning/lobby-2.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Galina Lobby & Lounge 2</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 bars" style="position: absolute; left: 759px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/dinning/lobby-3.jpg" alt="Wedding" title="Wedding" />
                        <a href="~/Content/images/dinning/lobby-3.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Galina Lobby & Lounge 3</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 restaurant" style="position: absolute; left: 0px; top: 285px;">
                    <figure>
                        <img src="~/Content/images/dinning/lobby-4.jpg" alt="Wedding" title="Wedding" />
                        <a href="~/Content/images/dinning/lobby-4.jpg" class="more-details" data-title="Wedding">Enlarge</a>
                        <figcaption>
                            <h4>Galina Lobby & Lounge 4</h4>
                        </figcaption>
                    </figure>
                </li>
          
            


        </div>
    </div>
</section>



