
@{
    ViewBag.Title = "GalinaRestaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="breadcrumb-section"
         data-bg-img="Content/images/restaurant/restaurant-6.jpg"
         style="background-image: url('Content/images/restaurant/restaurant-6.jpg');">
    <div class="inner-container container">
        <div class="ravis-title">
            <div class="inner-box">
                <div class="title">Galina Restaurant</div>
                <div class="sub-title">  Tincidunt integer eu augue augue nunc</div>

            </div>
        </div>
        <div class="breadcrumb">
            <ul class="list-inline">
                <li>
                    <a href="./">
                        Home
                    </a>
                </li>
                <li class="current">
                    <a href="/galina-restaurant">
                        Galina Restaurant
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="history-section">
    <div class="inner-container container">
        <div class="ravis-title-t-2">
            <div class="title"><span>Galina Restaurant</span></div>
            <div class="sub-title"> Tincidunt integer eu augue augue nunc elit dolor</div>
        </div>
        <div class="col-md-12 nas-content">
            Located at 1st floor of hotel, Galina Restaurant serves all you from breakfast to lunch and dinner with tasty and various kind of Vietnamese, Eastern and Western cuisine and a la carte service 24/7 at hotel. Guests also can have buffet seafood dinner each weekend in a cozy, friendly and stylish setting. With decoration of modern, stunning of Nha Trang city view, we bring you the real Nha Trang with real fresh food for your luxury living.
            <div>Location: 01st floor</div>
            <div>Opening hours: 7:00 am - 23:00 pm</div>
        </div>
    </div>
</section>
<section id="gallery" style="padding-top:0;">
    <div class="inner-container container">
        <!-- Gallery Container -->
        <div class="gallery-container">
            @*<div class="sort-section">
                    <div class="sort-section-container">
                        <div class="sort-handle">Filters</div>
                        <ul class="list-inline">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".restaurant" class="">Restaurant</a></li>
                            <li><a href="#" data-filter=".bars" class="">Bars</a></li>
                            <li><a href="#" data-filter=".pool" class="">Pool</a></li>
                            <li><a href="#" data-filter=".rooms" class="">Rooms</a></li>
                            <li><a href="#" data-filter=".lobby" class="">Lobby</a></li>
                        </ul>
                    </div>
                </div>*@
            <ul class="image-main-box clearfix" style="position: relative; height: 855px;">
           
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/restaurant/restaurant-2.jpg" alt="Galina Restaurant" title="Galina Restaurant" />
                        <a href="~/Content/images/restaurant/restaurant-2.jpg" class="more-details" data-title="Galina Restaurant">Enlarge</a>
                        <figcaption>
                            <h4>Galina Restaurant 2</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/restaurant/restaurant-3.jpg" alt="Galina Restaurant" title="Galina Restaurant" />
                        <a href="~/Content/images/restaurant/restaurant-3.jpg" class="more-details" data-title="Galina Restaurant">Enlarge</a>
                        <figcaption>
                            <h4>Galina Restaurant 3</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/restaurant/restaurant-4.jpg" alt="Galina Restaurant" title="Galina Restaurant" />
                        <a href="~/Content/images/restaurant/restaurant-4.jpg" class="more-details" data-title="Galina Restaurant">Enlarge</a>
                        <figcaption>
                            <h4>Galina Restaurant 4</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/restaurant/restaurant-5.jpg" alt="Galina Restaurant" title="Galina Restaurant" />
                        <a href="~/Content/images/restaurant/restaurant-5.jpg" class="more-details" data-title="Galina Restaurant">Enlarge</a>
                        <figcaption>
                            <h4>Galina Restaurant 5</h4>
                        </figcaption>
                    </figure>
                </li>
      
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/restaurant/restaurant-7.jpg" alt="Galina Restaurant" title="Galina Restaurant" />
                        <a href="~/Content/images/restaurant/restaurant-7.jpg" class="more-details" data-title="Galina Restaurant">Enlarge</a>
                        <figcaption>
                            <h4>Galina Restaurant 7</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/restaurant/restaurant-8.jpg" alt="Galina Restaurant" title="Galina Restaurant" />
                        <a href="~/Content/images/restaurant/restaurant-8.jpg" class="more-details" data-title="Galina Restaurant">Enlarge</a>
                        <figcaption>
                            <h4>Galina Restaurant 8</h4>
                        </figcaption>
                    </figure>
                </li>
                
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/restaurant/restaurant-10.jpg" alt="Galina Restaurant" title="Galina Restaurant" />
                        <a href="~/Content/images/restaurant/restaurant-10.jpg" class="more-details" data-title="Galina Restaurant">Enlarge</a>
                        <figcaption>
                            <h4>Galina Restaurant 10</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/restaurant/restaurant-11.jpg" alt="Galina Restaurant" title="Galina Restaurant" />
                        <a href="~/Content/images/restaurant/restaurant-11.jpg" class="more-details" data-title="Galina Restaurant">Enlarge</a>
                        <figcaption>
                            <h4>Galina Restaurant 11</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/restaurant/restaurant-9.jpg" alt="Galina Restaurant" title="Galina Restaurant" />
                        <a href="~/Content/images/restaurant/restaurant-9.jpg" class="more-details" data-title="Galina Restaurant">Enlarge</a>
                        <figcaption>
                            <h4>Galina Restaurant 9</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/restaurant/restaurant-1.jpg" alt="Galina Restaurant" title="Galina Restaurant" />
                        <a href="~/Content/images/restaurant/restaurant-1.jpg" class="more-details" data-title="Galina Restaurant">Enlarge</a>
                        <figcaption>
                            <h4>Galina Restaurant 1</h4>
                        </figcaption>
                    </figure>
                </li>
                <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
                    <figure>
                        <img src="~/Content/images/restaurant/restaurant-6.jpg" alt="Galina Restaurant" title="Galina Restaurant" />
                        <a href="~/Content/images/restaurant/restaurant-6.jpg" class="more-details" data-title="Galina Restaurant">Enlarge</a>
                        <figcaption>
                            <h4>Galina Restaurant 6</h4>
                        </figcaption>
                    </figure>
                </li>
                </ul>

        </div>
    </div>
</section>



