
@{
    ViewBag.Title = "Galina Spa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/GalinaSpa/GalinaSpa.css" rel="stylesheet" />

<section class="nas-room">
    <section class="banner-img galina-spa">
        <div class="overlay-black"></div>
        <div class="text text-center name-room-hotel">
            <h2>Galina Spa</h2>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>
    </section>
</section>
<div class="margin-content" style="margin-bottom:0;">
    <section class="yaw-introduce-galinaspa">
        <div class="padding-content">
            <h1>Introduce</h1>
            <p>
                GALINA SPA Embracing the idea of ​​"human & nature harmonization”, the whole landscape is well designed to maximize the full exposure to nature.
                Consisting of 21 mud bath tubs and 19 spa rooms with luxury indoor and outdoor features, Galina Mud Bath & Spa Phu Quoc will be your unforgettable holiday destination.
                Let indulge yourself in a smooth & warm mud bath and a wonderful sunset, knowing that you are fully taken care by the skilful and intensive remedy therapists, and unleash your vitality by a deep relaxation.
            </p>
        </div>
    </section>
    <section class="yaw-service-galinaspa">
        <h1 class="title-menu-icon">Spa Service</h1>
        <div class="icon-menu"><img src="~/Images/galinaspa/spa.png" /></div>
        <p style="margin: 5px 0 17px; text-transform: uppercase;text-align: center;"><strong>Open Hour // 9am – 22pm</strong></p>     
        <section class="service-spa">
            <div class="col-md-12 banner-img box-mudbath">
                <div class="overlay-black"></div>
                <div class="text text-center name-room-hotel">
                    <h2>Mudbath</h2>
                    <p>Relaxing for hot water</p>
                    <a href="http://galinaphuquoc.com/service/mud-bath" target="_blank" class="yaw-button yaw-button-view-bw">View Detail</a>
                </div>
            </div>
            <div class="col-md-12 banner-img box-spa">
                <div class="overlay-black"></div>
                <div class="text text-center name-room-hotel">
                    <h2>Spa</h2>
                    <p>Relax Beauty & Spa</p>
                    <a href="http://galinaphuquoc.com/service/spa" target="_blank" class="yaw-button yaw-button-view-bw">View Detail</a>
                </div>
            </div>
        </section>
    </section>
</div>
