@{
    ViewBag.Title = "Contact Us";
}

<div class="main-wrapper">
    <!--Breadcrumb Section-->
    <section id="breadcrumb-section"
             data-bg-img="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/1506696_663524887023576_968286982_n.jpg?oh=be6c44ba43632a6a3fc1b4ff3edd9c56&oe=58C272F3"
             style="background-image: url('https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/1506696_663524887023576_968286982_n.jpg?oh=be6c44ba43632a6a3fc1b4ff3edd9c56&oe=58C272F3');">
        <div class="inner-container container">
            <div class="ravis-title">
                <div class="inner-box">
                    <div class="title">Contact Us</div>
                    <div class="sub-title">Some description about your hotel</div>
                </div>
            </div>
            @*<div class="breadcrumb">
                    <ul class="list-inline">
                        <li><a href="./">Home</a></li>
                        <li class="current"><a href="./contact-us">Contact Us</a></li>
                    </ul>
                </div>*@
        </div>
    </section>
    <!--End of Breadcrumb Section-->
    <!--Contact Section-->
    <section id="contact-section">
        <div class="inner-container container">
            <div class="t-sec">
                <div class="ravis-title-t-2">
                    <div class="title">
                        <span>
                            Contact Us
                        </span>
                    </div>
                    <div class="sub-title">
                        Do not hesitate to contact me if you have any further questions
                    </div>
                </div>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                    sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis
                    iste
                    natus error sit voluptatem accusantium doloremque.
                </div>
                <div class="contact-info">
                    <div class="contact-inf-box">
                        <div class="icon-box">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="text">
                            05 Hung Vuong St., Loc Tho Ward, Nha Trang City, Viet Nam.
                        </div>
                    </div>
                    <div class="contact-inf-box">
                        <div class="icon-box">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="text">
                            sales@galinahotel.com.vn
                        </div>
                    </div>
                    <div class="contact-inf-box">
                        <div class="icon-box">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="text">
                            (+84) 58 383 9999  -  0916 786 007
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-sec clearfix">
                <div class="contact-form col-md-6">
                    <form action="">
                        <div class="field-row">
                            <input type="text" placeholder="Name :" required="">
                        </div>
                        <div class="field-row">
                            <input type="text" placeholder="Phone :">
                        </div>
                        <div class="field-row">
                            <input type="email" placeholder="Email :" required="">
                        </div>
                        <div class="field-row">
                            <textarea placeholder="Your Message" required=""></textarea>
                        </div>
                        <div class="field-row">
                            <input type="submit" value="Send">
                        </div>
                    </form>
                </div>
                <div id="google-map" class="col-md-6" data-marker="../../dark/assets/img/marker.png">
                    <div class="gm-style">

                        <iframe allowfullscreen src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d7798.203714378205!2d109.1930673!3d12.24138215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3170677b993158e9%3A0x34dfb41a088a5a86!2zR2FsaW5hIEhvdGVsICYgU3BhLCA1IEjDuW5nIFbGsMahbmcsIEzhu5ljIFRo4buNLCB0cC4gTmhhIFRyYW5nLCBLaMOhbmggSMOyYQ!3m2!1d12.238033999999999!2d109.195303!5e0!3m2!1svi!2s!4v1440990741983" ></iframe>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End of Contact Section-->

</div>