
@{
    ViewBag.Title = "Footer";
}
<footer>
    <div class="row nas-footer">     
        <div class="col-md-3 col-sm-4 col-xs-12 logo-footer">
            <a href="~/">
                <img src="~/Content/images/header/logo yaw.png" alt="You & We Resort Logo" title="You & We Resort Logo"  />
            </a>
            <p></p>
            <p>Known as Paradise Pearl Island with many beautiful pristine beaches, Phu Quoc is the ideal destination for travelers who want to enjoy the creation of nature</p>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 address-footer">
            <div class="nas-title">
                Ha Noi City Office
            </div>
            <ul>
                <li>
                   <span class="glyphicons glyphicons-iphone"></span>
                    <a href="" style="color:#9c9ca0;"> +84 (0) 932341771 (Ms Hien)</a>             
                </li>
                <li>
                    <span class="glyphicons glyphicons-envelope"></span>
                    sales1@youandweresort.com      
                   
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 address-footer">
            <div class="nas-title">
                Ho Chi Minh City Office
            </div>
            <ul>              
                <li>
                    <span class="glyphicons glyphicons-iphone"></span>
                    <a href=""  style="color:#9c9ca0;">+84 (0)  947296748 (Ms Au)</a>                  
                </li>               
                <li>
                    <span class="glyphicons glyphicons-envelope"></span>
                    sales2@youandweresort.com
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 hidden-sm hidden-xs ">
            <div class="nas-title">
             Like Us Here
            </div>
            <div class="fb-page"
                 data-href="https://www.facebook.com/youandweresort/"                 
                 data-hide-cover="false"
                 data-show-facepile="true"
                 data-show-posts="false"
                ></div>
        </div> 
        <div class="col-md-12 col-xs-12 site-map">
            <ul>
                <li><a href="~/accomodation">Accomodation</a></li>
                <li><a href="~/">Restaurant & Bar</a></li>
                <li><a href="~/">Meeting & Event</a></li>
                <li><a href="~/">Destination</a></li>
                <li><a href="~/">Special Offers</a></li>
                <li><a href="http://galinaphuquoc.com/service/spa">Galina Spa</a></li>
                <li><a href="~/promotion">Promotion</a></li>
                <li><a href="~/gallery">Gallery</a></li>
                <li><a href="~/contact-us">Contact us</a></li>             
            </ul>
        </div> 
    </div>
    <div class="row nas-copyright">       
            <p>© @DateTime.Now.Year You & We Resort. All Rights Reserved.</p>   
    </div>

</footer>
