@{
    ViewBag.Title = "Navigation";
}

<div class="row">
    <div class="col-md-12 navbar ">
        <div class="navbar-header">
            @*<button type="button" class="navbar-toggle button-nav" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav menu">
                <li class="hoverli"><a href="~/" title="Home">Home</a></li>
                <li class="dropdown hoverli">
                    <a class="dropdown-toggle" data-toggle="dropdown" title="Accomodation">
                        Accomodation <span class="halflings halflings-menu-down icon-arrow-menu"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="~/deluxe-sea-view" title="Deluxe Sea View">
                                Deluxe Sea View
                            </a>
                        </li>
                        <li>
                            <a href="~/premier-deluxe-sea-view" title="Premier Deluxe Sea View">
                                Premier Deluxe Sea View
                            </a>
                        </li>
                        <li>
                            <a href="~/executive-deluxe-sea-view" title="Executive Deluxe Sea View">
                                Executive Deluxe Sea View
                            </a>
                        </li>
                        <li>
                            <a href="~/balcony-beachfront-villa" title="Balcony Beachfront Villa">
                                Balcony Beachfront Villa
                            </a>
                        </li>
                        <li>
                            <a href="~/ancient-beachfront-villa" title="Ancient Beachfront Villa">
                                Ancient Beachfront Villa
                            </a>
                        </li>
                        <li>
                            <a href="~/impeccable-beach-step-villa" title="Impeccable Beach Step Villa">
                                Impeccable Beach Step Villa
                            </a>
                        </li>
                    </ul>
                </li>              
                <li class="dropdown hoverli">
                    <a class="dropdown-toggle" data-toggle="dropdown" title="Services">
                        Services<span class="halflings halflings-menu-down icon-arrow-menu"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="~/pool-and-private-beach" title="Pool and Private Beach">
                                Pool and Private Beach
                            </a>
                        </li>
                        <li>
                            <a href="~/family-cinema" title="Family Cinema">
                                Family Cinema
                            </a>
                        </li>
                        <li>
                            <a href="~/billiard" title="Billiard">
                                Billiard
                            </a>
                        </li>
                        <li>
                            <a href="~/kids-playground" title="Kids Playground">
                                Kids Playground
                            </a>
                        </li>
                        <li>
                            <a href="~/live-music" title="Live music">
                                Live Music
                            </a>
                        </li>
                    </ul>
                </li>              
                <li class="dropdown hoverli">
                    <a class="dropdown-toggle" data-toggle="dropdown" title="Dinning">
                        Dinning <span class="halflings halflings-menu-down icon-arrow-menu"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="~/amarin-restaurant" title="Amarin Restaurant">
                                Amarin Restaurant
                            </a>
                        </li>
                        <li>
                            <a href="~/galina-beach-restaurant" title="Galina Beach Restaurant">
                                Galina Beach Restaurant
                            </a>
                        </li>
                        <li>
                            <a href="~/hibis-beach-bar" title="Hibis Beach Bar">
                                Hibis Beach Bar
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="hoverli">
                    <a href="~/galina-spa" title="Galina Spa">
                        Galina Spa
                    </a>
                </li>
                <li class="hoverli">
                    <a href="~/special-offers" title="Specials Offers">
                        Special Offers
                    </a>
                </li>
                <li class="hoverli"><a href="~/destination" title="Destination">Destination</a></li>
                <li class="hoverli">
                    <a href="~/gallery" title="Gallery">
                        Gallery
                    </a>
                </li>
                <li class="hoverli">
                    <a href="~/contact-us" title="Contact Us">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


