@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.eot') format('embedded-opentype');
}
body{
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
    line-height: 1.428571429;
    color: #4a4a4a;
    background-color: #fff;
}