@{
    ViewBag.Title = "Khách hàng tiêu biểu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/OurClient/OurClient.css" rel="stylesheet" />


<div id="content">
    <div id="content-left" class="content-left-show">
        <div class="col-md-12">
            <div class="block-title block-title-corner">
                <h1 title="Khách hàng tiêu biểu">Khách hàng tiêu biểu</h1>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12  nas-client">
                <div class="col-md-4 ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12  nas-title-client">
                                <p>



                                    <a href="http://galinahotel.com.vn" target="_blank">

                                        HẢI ĐĂNG GROUP

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://galinahotel.com.vn" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/1-7.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12  nas-descriptionas-client-tab1">
                                <p>  - Công ty TNHH Hải Đăng </p> <p>  - Công ty TNHH Sài Gòn Vàng </p> <p>  - Công ty TNHH Ngọc Quang Đăng </p> <p>  - Công ty TNHH Bốn Mùa Phú Quốc </p></br> <p> <strong>Dịch vụ cung cấp cho công ty TNHH Hải Đăng:</strong> </p> <p>  - <a href="/phan-mem-dat-phong-truc-tuyen">Phần mềm quản lý đặt phòng trực tuyến</a> </p> <p>  <ul>   <li>Trang web <a href="http://galinahotel.com.vn/" target="_blank">http://galinahotel.com.vn/</a></li>   <li>Trang web <a href="http://haidanggroup.com/" target="_blank">http://haidanggroup.com/</a></li>   <li><a href="/phan-mem-quan-ly-tai-lieu-dien-tu">Quản lý tài liệu điện tử</a></li>   <li><a href="/dich-vu-cai-thien-thu-hang-web">Dịch vụ SEO</a></li> </ul> <p> <strong>Phần mềm Namoly: </strong></p><ul> <li><a href="/phan-mem-quan-ly-nha-hang-Namoly">Quản lý nhà hàng</a></li>   <li><a href="/phan-mem-quan-ly-khach-san-Namoly">Quản lý khách sạn</a></li> <li><a href="/phan-mem-quan-ly-spa-Namoly">Quản lý spa </a> </li> <li><a href="/phan-mem-quan-ly-chuoi-cung-ung">Quản lý mua hàng</a></li><li><a href="/phan-mem-quan-ly-chuoi-cung-ung">Quản lý kho</a></li><li><a href="/phan-mem-quan-ly-tai-chinh-ke-toan">Quản lý kế toán</a></li><li><a href="/phan-mem-quan-ly-nhan-su">Quản lý nhân sự</a></li> </ul> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12  nas-title-client">
                                <p>



                                    <a href="http://galinahotel.com.vn" target="_blank">

                                        Galina Hotel & Spa

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://galinahotel.com.vn" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/logo-galina-hotel-spa.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12  nas-descriptionas-client-tab1">
                                <p>- <a href="/phan-mem-dat-phong-truc-tuyen">Phần mềm quản l&yacute; đặt ph&ograve;ng trực tuyến</a></p> <p>- Trang web <a href="http://galinahotel.com.vn/" target="_blank" onclick="window.open(window.decodeURIComponent('http%3A%2F%2Fgalinahotel.com.vn%2F'), '_blank').opener=null; return false;">http://galinahotel.com.vn/</a></p> <p>- <a href="/phan-mem-quan-ly-tai-lieu-dien-tu">Quản lý tài liệu điện tử</a> </p> <p>- <a href="/dich-vu-cai-thien-thu-hang-web">Dịch vụ SEO</a></p> <p>- <a href="/phan-mem-quan-ly-nha-hang">Quản l&yacute; nh&agrave; h&agrave;ng</a></p> <p>- <a href="/phan-mem-quan-ly-spa-Namoly">Quản l&yacute; spa</a></p> <p>- <a href="/phan-mem-quan-ly-chuoi-cung-ung">Quản l&yacute; mua h&agrave;ng</a></p> <p>- <a href="/phan-mem-quan-ly-chuoi-cung-ung">Quản l&yacute; kho</a></p> <p>- <a href="/phan-mem-quan-ly-tai-chinh-ke-toan">Quản l&yacute; kế to&aacute;n</a></p> <p>- <a href="/phan-mem-quan-ly-nhan-su">Quản l&yacute; nh&acirc;n sự</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12 nas-title-client">
                                <p>



                                    <a href="http://maritimehotel.com.vn/" target="_blank">

                                        CÔNG TY TNHH SÀI GÒN VÀNG

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://maritimehotel.com.vn/" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/MaritimeHotel_350x150.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>- <a href="/phan-mem-dat-phong-truc-tuyen">Phần mềm quản lý đặt phòng trực tuyến</a> </p> <p>- Trang web <a href="http://maritimehotel.com.vn/" target="_blank">http://maritimehotel.com.vn/</a> </p>  <p>- <a href="/phan-mem-quan-ly-tai-lieu-dien-tu">Quản lý tài liệu điện tử</a> </p> <p>- <a href="/dich-vu-cai-thien-thu-hang-web">Dịch vụ SEO</a></p> <p>- <a href="/phan-mem-quan-ly-nha-hang">Quản l&yacute; nh&agrave; h&agrave;ng</a></p> <p>- <a href="/phan-mem-quan-ly-spa-Namoly">Quản l&yacute; spa</a></p> <p>- <a href="/phan-mem-quan-ly-chuoi-cung-ung">Quản l&yacute; mua h&agrave;ng</a></p> <p>- <a href="/phan-mem-quan-ly-chuoi-cung-ung">Quản l&yacute; kho</a></p> <p>- <a href="/phan-mem-quan-ly-tai-chinh-ke-toan">Quản l&yacute; kế to&aacute;n</a></p> <p>- <a href="/phan-mem-quan-ly-nhan-su">Quản l&yacute; nh&acirc;n sự</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://galinadanangmudbath.com/" target="_blank">

                                        Công ty TNHH Ngọc Quang Đăng

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://galinadanangmudbath.com/" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/galinadanang_320x150.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>- Trang web <a href="http://galinadanangmudbath.com/" target="_blank">http://galinadanangmudbath.com/</a> </p><p>- <a href="/phan-mem-quan-ly-tai-lieu-dien-tu">Quản lý tài liệu điện tử</a> </p> <p>- <a href="/dich-vu-cai-thien-thu-hang-web">Dịch vụ SEO</a></p> <p>- <a href="/phan-mem-quan-ly-nha-hang">Quản l&yacute; nh&agrave; h&agrave;ng</a></p> <p>- <a href="/phan-mem-quan-ly-spa-Namoly">Quản l&yacute; spa</a></p> <p>- <a href="/phan-mem-quan-ly-chuoi-cung-ung">Quản l&yacute; mua h&agrave;ng</a></p> <p>- <a href="/phan-mem-quan-ly-chuoi-cung-ung">Quản l&yacute; kho</a></p> <p>- <a href="/phan-mem-quan-ly-tai-chinh-ke-toan">Quản l&yacute; kế to&aacute;n</a></p> <p>- <a href="/phan-mem-quan-ly-nhan-su">Quản l&yacute; nh&acirc;n sự</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://galinadanangmudbath.com/" target="_blank">

                                        Công ty TNHH Bốn Mùa Phú Quốc

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://galinadanangmudbath.com/" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/galianPhuQuoc_320x150.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>  - Trang web <a href="http://galinaphuquoc.com/" target="_blank">http://galinaphuquoc.com/</a></p> <p>- <a href="/phan-mem-quan-ly-tai-lieu-dien-tu">Quản lý tài liệu điện tử</a> </p> <p>- <a href="/dich-vu-cai-thien-thu-hang-web">Dịch vụ SEO</a></p> <p>- <a href="/phan-mem-quan-ly-nha-hang">Quản l&yacute; nh&agrave; h&agrave;ng</a></p> <p>- <a href="/phan-mem-quan-ly-spa-Namoly">Quản l&yacute; spa</a></p> <p>- <a href="/phan-mem-quan-ly-chuoi-cung-ung">Quản l&yacute; mua h&agrave;ng</a></p> <p>- <a href="/phan-mem-quan-ly-chuoi-cung-ung">Quản l&yacute; kho</a></p> <p>- <a href="/phan-mem-quan-ly-tai-chinh-ke-toan">Quản l&yacute; kế to&aacute;n</a></p> <p>- <a href="/phan-mem-quan-ly-nhan-su">Quản l&yacute; nh&acirc;n sự</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://www.phucsinh.com" target="_blank">

                                        PhucSinh Group

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://www.phucsinh.com" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/PhucSinh_320x150.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>- Công ty cổ phần Phúc Sinh </p> <p>  - Công ty cổ phần cà phê Phúc Sinh </p> <p>- Công ty cổ phần cà phê Phúc Minh </p> <p>  - Công ty cổ phần Gia Vị Việt </p> <p>  - Belkern Corp </p> </br><p><strong>- Dịch vụ cung cấp cho Công Ty Cổ Phần Phúc Sinh:</strong></p> <p>  <ul>   <li>Trang web <a href="http://kcoffee.vn/" target="_blank">http://kcoffee.vn/</a> </li>   <li>- Trang web <a href="http://phucsinh.com/">http://phucsinh.com/</a> </li>   <li>Trang web <a href="http://belkern.com/" target="_blank">http://belkern.com/</a> </li>   <li><a href="/phan-mem-quan-ly-tai-lieu-dien-tu">Quản lý tài liệu điện tử</a></li>   <li><a href="/phan-mem-quan-ly-ban-hang-truc-tuyen">Quản lý bán hàng trực tuyến</a></li>   <li><a href="/phan-mem-quan-ly-he-thong-phan-phoi">Hệ thống phân phối (DMS)</a></li><li><a href="/phan-mem-quan-ly-tai-chinh-ke-toan">Quản lý tài chính kế toán</a></li><li><a href="/phan-mem-quan-ly-quan-he-khach-hang">Quản lý quan hệ khách hàng</a></li><li><a href="/phan-mem-quan-ly-nhan-su">Quản lý nhân sự</a></li>  </ul> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://www.phucsinh.com" target="_blank">

                                        Công ty CP cà phê Phúc Sinh

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://www.phucsinh.com" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/phucsinhcoffee_320x150.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>Trang web <a href="http://phucsinhcoffee.com/" target="_blank">http://phucsinhcoffee.com/</a></p> <p>-<a href="/phan-mem-quan-ly-tai-lieu-dien-tu">Quản lý tài liệu điện tử</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://www.phucminhcoffee.com" target="_blank">

                                        Công ty CP cà phê Phúc Minh

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://www.phucminhcoffee.com" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/phucminhcoffee_320x150.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>- Trang web <a href="http://phucminhcoffee.com/" target="_blank">http://phucminhcoffee.com/</a> </p> <p>-<a href="/phan-mem-quan-ly-tai-lieu-dien-tu">Quản lý tài liệu điện tử</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://www.vietnamspice.com" target="_blank">

                                        Công ty CP Gia Vị Việt
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://www.vietnamspice.com" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/VietSpice_320x150.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>- Trang web <a href="http://vietnamspice.com/" target="_blank">http://vietnamspice.com/</a> </p> <p>-<a href="/phan-mem-quan-ly-tai-lieu-dien-tu">Quản lý tài liệu điện tử</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://abbottnutrition.com.vn/" target="_blank">

                                        Công ty Abbott Laboratories S.A.

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://abbottnutrition.com.vn/" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/1-1.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>- Làm <a href="/tro-choi-quang-cao">game sự kiện</a> quảng bá thương hiệu cho các sản phẩm: </p> <p>  <ul>   <li>Klacid</li>   <li>Tanatril</li>   <li>Hidrasec</li>   <li>Betaserc</li>   <li>Duphalac</li>  </ul> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://leftbrainconnectors.vn" target="_blank">

                                        Công ty TNHH TV Kết Nối Não Trái

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://leftbrainconnectors.vn" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/1-2.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>- Trang web LBC </p> <p>  - Trang web Econuti </p> <p>- <a href="/phan-mem-quan-ly-tai-lieu-dien-tu">Quản lý tài liệu điện tử</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://www.sanofi.com.vn/" target="_blank">

                                        SANOFI

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://www.sanofi.com.vn/" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/1-6.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>  -Làm <a href="/tro-choi-quang-cao">game sự kiện</a> quảng bá thương hiệu cho các sản phẩm </p> <p>  <ul>   <li>LastWinContribution</li>   <li>Logo Dicovery</li>   <li>MazeDecision</li>   <li>PhlegmTreatment</li>   <li>Đua thuyền - Quảng bá sản phẩm Enterogermina</li>   <li>Lá gan khỏe - Quảng bá sản phẩm Essentiale Forte</li>   <li>Vòng quay - Quảng bá sản phẩm Mepraz</li>   <li>Hươu Cao Cổ - Quảng bá sản phẩm Calcium Corbiere</li>   <li>Trúc xanh - Quảng bá sản phẩm Calcium Corbiere</li>   <li>ETC</li>   <li>ISTEP</li>  </ul> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://www.lotus-greentech.com/" target="_blank">

                                        Công ty TNHH Công Nghệ Xanh

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://www.lotus-greentech.com/" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/1-8.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>- Phần mềm tính giá </p> <p>- <a href="/phan-mem-quan-ly-quan-he-khach-hang">Phần mềm quản lý quan hệ khách hàng</a> </p> <p>- <a href="/phan-mem-quan-ly-chuoi-cung-ung">Phần mềm quản lý cung ứng.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://philao.com/" target="_blank">

                                        Công ty TNHH Thiết kế Mỹ thuật Dịch vụ Quảng cáo Phi Lao

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img" target="_blank">

                                    <figure class="effect-apollo">
                                        <img src="~/Content/Images/client/PhiLao_320x150.png" alt="" />
                                        <figcaption></figcaption>
                                    </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>  - Làm <a href="/tro-choi-quang-cao">game sự kiện</a> quảng bá sản phẩm </p> <p>  <ul>   <li>Betadine Superman-Quảng bá sản phẩm - Betadine của Công ty Muldipharma</li>   <li>Puzzles Funny - Quảng cáo sản phẩm của Công ty Muldipharma</li>   <li>Egg Catching - Quảng cáo sản phẩm của Công ty Merck</li>   <li>MSD - Quảng bá thương hiệu sản phẩm tim mạch của thương hiệu MSD</li>  </ul> </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-4  ">
                        <div class="nas-box-client">
                            <div class="nas-top-client">
                                <div class="col-md-12   nas-title-client">
                                    <p>
                                        <a href="http://vietsin.vn/">
                                            Công ty TNHH DV TM SX Việt Sin
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="nas-mid-client">
                                    <div class="col-md-12 nas-box-img">
                                        <a href="http://vietsin.vn/">
                                            <figure class="effect-apollo">
                                                <img src="~/Content/Images/client/VietSin_320x150.png" alt="" />
                                                <figcaption></figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-12   nas-descriptionas-client-tab1">
                                    <p>- <a href="/phan-mem-quan-ly-nha-hang-Namoly">Phần mềm quản lý nhà hàng</a>  cho chuỗi nhà hàng BFF.</p><p>- <a href="/phan-mem-quan-ly-chuoi-cung-ung">Phần mềm quản lý kho</a></p><p>- <a href="/phan-mem-quan-ly-tai-chinh-ke-toan">Phần mềm quản lý kế toán</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://denuilamdong.com/" target="_blank">

                                        Công ty TNHH MTV Dê Núi Lâm Đồng

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://denuilamdong.com/" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/DeNui_320x150.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p> - <a href="/phan-mem-quan-ly-trang-trai-Nafaly">Phần mềm quản lý gia súc </a></p> <p>- <a href="/phan-mem-quan-ly-chuoi-cung-ung">Quản lý kho</a> </p> <p>- <a href="/phan-mem-quan-ly-chuoi-cung-ung">Quản lý mua hàng</a> </p><p>- <a href="/phan-mem-quan-ly-ban-hang-truc-tuyen">Quản lý bán hàng</a></p> <p>- <a href="/phan-mem-quan-ly-tai-chinh-ke-toan">Quản lý kế toán </a></p> <p>- <a href="/phan-mem-quan-ly-nhan-su">Quản lý nhân sự</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-4  ">
                        <div class="nas-box-client">
                            <div class="nas-top-client">
                                <div class="col-md-12   nas-title-client">
                                    <p>
                                        <a href="http://travelcarevietnam.com/">
                                            Công ty CP TravelCare Việt Nam
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="nas-mid-client">
                                    <div class="col-md-12 nas-box-img">
                                        <a href="http://travelcarevietnam.com/">
                                            <figure class="effect-apollo">
                                                <img src="~/Content/Images/client/travelcare_320x150.png" alt="" />
                                                <figcaption></figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-12   nas-descriptionas-client-tab1">
                                    <p>  - Trang web <a href="http://travelcarevietnam.com/">http://travelcarevietnam.com/ </a> </p> <p>  -<a href="/phan-mem-quan-ly-tai-lieu-dien-tu">Trang Quản lý tài liệu điện tử</a>  </p> <p>  - <a href="/phan-mem-quan-ly-quan-he-khach-hang">Phần mềm quản lý quan hệ khách hàng</a>, <a href="/phan-mem-quan-ly-nhan-su">quản lý thành viên, đối tác</a> </p> <p>  -<a href="/phan-mem-quan-ly-nhan-su">Quản lý nhân sự</a>  </p>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>



                                    <a href="http://ybahcm.com.vn/" target="_blank">

                                        Hội doanh nhân trẻ YBA

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">



                                    <a href="http://ybahcm.com.vn/" target="_blank">

                                        <figure class="effect-apollo">
                                            <img src="~/Content/Images/client/1-3.png" alt="" />
                                            <figcaption></figcaption>
                                        </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>  - Trang web YBA </p> <p>  -<a href="/phan-mem-quan-ly-tai-lieu-dien-tu"> Phần mềm Quản lý tài liệu điện tử</a> trang web YBA </p> <p>  -Phần mềm quản lý hội viên, doanh nghiêp, các hoạt động hội  , quản lý sự kiện, <a href="/phan-mem-quan-ly-to-chuc-hiep-hoi">quản lý tổ chức hiệp hội. </a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="nas-box-client">
                        <div class="nas-top-client">
                            <div class="col-md-12   nas-title-client">
                                <p>

                                    Công ty TNHH Bắc Hải Vân

                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nas-mid-client">
                                <div class="col-md-12 nas-box-img">

                                    <figure class="effect-apollo">
                                        <img src="~/Content/Images/client/logo bac hai van.png" alt="" />
                                        <figcaption></figcaption>
                                    </figure>

                                </div>
                            </div>
                            <div class="col-md-12   nas-descriptionas-client-tab1">
                                <p>  - <a href="/phan-mem-quan-ly-ban-hang-truc-tuyen">Phần mềm quản lý bán hàng</a> </p> <p>  -<a href="/phan-mem-quan-ly-chuoi-cung-ung">Phần mềm quản lý kho</a> </p><p>- Phần mềm quản lý sản xuất</p><p>- <a href="/phan-mem-quan-ly-tai-chinh-ke-toan">Phần mềm quản lý kế toán</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div id="content-right" class="content-right-hide">
        @{Html.RenderAction("p_Relation_Right", "Home");}
    </div>
</div>

<script>
    var height = $('.nas-title-client').height() + 20;
    setInterval(function () {

        if (height > $('.nas-title-client').height()) {
            $('.nas-title-client').css({ height: height });
        }
        else {
            $('.nas-title-client').css({ height: $('.nas-top-client .nas-title-client').height() });
        }
    }, 500);
</script>



