​<div class='breadcrumbs'>
    <div class='inner'>
        <ul class='cf'>
            @foreach (var Breadcrumb in @ViewBag.Breadcrumbs)
            {
                <li>
                    <a class='@Breadcrumb.Class'>
                        <span>@Breadcrumb.Code</span>
                        <span>@Breadcrumb.Name</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<style type="text/css">
    .breadcrumbs {
        border-top: 1px solid #E1E1E1;
        border-bottom: 1px solid #E1E1E1;
        overflow: hidden;
    }

        .breadcrumbs li {
            float: left;
            width: 25%;
        }

        .breadcrumbs a {
            position: relative;
            display: block;
            padding: 20px;
            padding-right: 0 !important;
            font-size: 13px;
            font-weight: bold;
            text-align: center;
            color: #aaa;
            cursor: pointer;
        }

            .breadcrumbs a.active {
                color: #F57F17;
            }
            .breadcrumbs a.success {
                color: #4CAF50;
            }

            .breadcrumbs a span:first-child {
                display: inline-block;
                width: 22px;
                height: 22px;
                margin-right: 5px;
                border: 1px solid #E1E1E1;
            }
            .breadcrumbs a.success span:first-child {
                color: #fff;
                border-color: #4CAF50;
                background-color: #4CAF50;
            }

            .breadcrumbs a.active span:first-child {
                color: #fff;
                border-color: #F57F17;
                background-color: #F57F17;
            }

            .breadcrumbs a:before,
            .breadcrumbs a:after {
                content: '';
                position: absolute;
                top: 0;
                left: 100%;
                z-index: 1;
                display: block;
                width: 0;
                height: 0;
                border-top: 32px solid transparent;
                border-bottom: 32px solid transparent;
                border-left: 16px solid transparent;
            }

            .breadcrumbs a:before {
                margin-left: 1px;
                border-left-color: #E1E1E1;
            }

            .breadcrumbs a:after {
                border-left-color: #fafafa;
            }

        .breadcrumbs li:last-child a:before,
        .breadcrumbs li:last-child a:after {
            display: none;
        }

    @@media (max-width: 720px) {
        .breadcrumbs a {
            padding: 15px;
        }

            .breadcrumbs a:before,
            .breadcrumbs a:after {
                border-top-width: 26px;
                border-bottom-width: 26px;
                border-left-width: 13px;
            }
    }

    @@media (max-width: 620px) {
        .breadcrumbs a {
            padding: 10px;
            font-size: 12px;
        }

            .breadcrumbs a:before,
            .breadcrumbs a:after {
                border-top-width: 22px;
                border-bottom-width: 22px;
                border-left-width: 11px;
            }
    }

    @@media (max-width: 520px) {
        .breadcrumbs a {
            padding: 5px;
        }

            .breadcrumbs a:before,
            .breadcrumbs a:after {
                border-top-width: 16px;
                border-bottom-width: 16px;
                border-left-width: 8px;
            }

        .breadcrumbs li a span:first-child {
            display: block;
            margin: 0 auto;
        }

        .breadcrumbs li a span:last-child {
            display: none;
        }
    }
</style>