<section class="col-md-6">
    <h1>Thông tin của bạn: @ViewBag.Id</h1>
    <h4>Tên lót và tên (*):</h4>
    <input type="text">
    <h4>Họ (*):</h4>
    <input type="text">
    <h4>Email (*):</h4>
    <input type="text">
    <h4>Số điện thoại (*):</h4>
    <input type="text">
    <h4>Mã giảm giá (*):</h4>
    <input type="text">
    <h4>Yêu cầu khác (*):</h4>
    <textarea></textarea>
</section>
