<section class="col-md-6">
    <h1>Thanh toán ngay</h1>
    <h4>Thanh toán bằng thẻ nội địa (Local ATM)</h4>
    <h4>Thanh toán bằng thẻ quốc tế (Credit Card)</h4>
    <div></div>
    <label>
        <input type="checkbox" /> Tôi đồng ý với điều khoản sử dụng và chính sách bảo mật của HaiDangGroup <a href="">Xem chính sách</a>
    </label>
</section>
