

<header class="header black-bg">
    
    <a href="~/" class="logo">
        <img src="~/Content/Images/logo.png" width="100%" />
    </a>
    <div class="nav notify-row" id="top_menu">
        <ul class="nav top-menu">
            <li><a href="~/ban-gioi-thieu"><span class="glyphicons glyphicons-cogwheels"></span>Demos</a></li>
            <li><a href="~/tai-lieu"><span class="glyphicons glyphicons-book-open"></span>Documentation</a></li>
            <li><a href="~/ho-tro"><span class="glyphicons glyphicons-education"></span>Support</a></li>
        </ul>
    </div>
    <div class="top-menu">
        @*@Html.Partial("_LoginPartial")*@
        @*<ul class="nav pull-right top-menu">
            <li>
                <a class="logout" href="/Home/Login">
                    Logout
                </a>
            </li>
        </ul>*@
    </div>
</header>