<aside>
    <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <li class="mt">
                <a class="active" href="~/dashboard">
                    <i class="fa fa-home">
                    </i>
                    <span>
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <i class="fa fa-envelope-o">
                    </i>
                    <span>
                        Hộp Thư
                        <span class="badge bg-theme">
                            3
                      	</span>
                    </span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-files-o">
                    </i>
                    <span>
                        www.naansolution.com
                    </span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="~/layout">
                            Layout
                        </a>
                    </li>
                    <li>
                        <a href="~/trang-chu">
                            Trang Chủ
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Quản Lý Khách Sạn
                        </a>
                        <ul class="sub-nas">
                            <li>
                                <a href="~/thiet-ke-trang-web-khach-san">
                                    Thiết Kế Web Khách Sạn
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-dat-phong-truc-tuyen">
                                    Đặt Phòng Trực Tuyến
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-khach-san-Namoly">
                                    Quản Lý Khách Sạn Namoly
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-nha-hang-Namoly">
                                    Quản Lý Nhà Hàng Namoly
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-spa-Namoly">
                                    Quản Lý Spa Namoly
                                </a> 
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-nha-hang-khach-san-spa-Namoly">
                                    Quản Lý Chuỗi Namoly
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Quản Lý Doanh Nghiệp
                        </a>
                        <ul class="sub-nas">
                            <li>
                                <a href="~/phan-mem-quan-ly-ban-hang-truc-tuyen">
                                    Bán Hàng Trực Tuyến
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-quan-he-khach-hang">
                                    Quan Hệ Khách Hàng
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-chuoi-cung-ung">
                                    Chuỗi Cung Ứng
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-tai-chinh-ke-toan">
                                    Tài Chính Kế Toán
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-nhan-su">
                                    Nhân Sự
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-tai-lieu-dien-tu">
                                    Quản Lý Tài Liệu Điện Tử
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-he-thong-phan-phoi">
                                    Hệ Thống Phân Phối
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-trang-trai-Nafaly">
                                    Trang Trại Nafaly
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-nghiep-vu-thuong-mai-thep-NAANSteel">
                                    Thương Mại Thép
                                </a>
                            </li>
                            <li>
                                <a href="~/phan-mem-quan-ly-to-chuc-hiep-hoi">
                                    Tổ Chức Hiệp Hội
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Giải Pháp Tiếp Thị Số
                        </a>
                        <ul class="sub-nas">
                            <li>
                                <a href="~/tu-van-thiet-ke-web-theo-nhu-cau">
                                    Thiết Kế Web Theo Nhu Cầu
                                </a>
                            </li>
                            <li>
                                <a href="~/dich-vu-cai-thien-thu-hang-web">
                                    Cải Thiện Thứ Hạng Web
                                </a>
                            </li>
                            <li>
                                <a href="~/tro-choi-quang-cao-thuong-hieu-san-pham">
                                    Trò Chơi, Quảng Cáo
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/khach-hang-tieu-bieu">
                            Khách Hàng Tiêu Biểu
                        </a>
                    </li>
                    <li>
                        <a href="~/ho-tro">
                            Hỗ Trợ
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Giới Thiệu
                        </a>
                        <ul class="sub-nas">
                            <li>
                                <a href="~/tuyen-dung">
                                    Tuyển Dụng
                                </a>
                            </li>
                            <li>
                                <a href="~/lien-he">
                                    Liên Hệ
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/Home/Login">
                           Hướng Dẫn
                        </a>
                    </li>
                    <li>
                        <a href="~/Home/Login">
                            Blog
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>