
@{
    ViewBag.Title = "Create Our Client";
    Layout = "~/Views/Shared/MasterPages/_Layout.cshtml";
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
}
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="nas-content">
            <div class="col-md-12 mt">
                <div class="col-md-12 col-xs-12 nas-header">
                    <div class="col-md-12">
                        <h1 style="font-size: 20px; margin-top: 5px;"><a href="/khach-hang-tieu-bieu">Khách hàng tiêu biểu</a> / Tạo mới khách hàng</h1>
                        <hr />
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#vn" data-toggle="tab">
                                    Tiếng Việt
                                </a>
                            </li>
                            <li>
                                <a href="#en" data-toggle="tab">
                                    Tiếng Anh
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="vn">
                                <div class="col-md-12 col-sm-12 col-xs-12 nas-col" style="margin:10px 0">
                                    <div class="col-md-12 col-sm-12 col-xs-12 nas-col">
                                        <div class="col-md-10 col-sm-7 col-xs-12 nas-col">
                                            <div class="col-md-12 col-sm-12 col-xs-12 nas-title">
                                                <div class="col-md-1 col-sm-3 col-xs-4 nas-col nas-title-content">
                                                    Tiêu đề:
                                                </div>
                                                <div class="col-md-11 col-sm-9 col-xs-8 nas-col">
                                                    <input style="width:100%" placeholder="Nhập tiêu đề..." />
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 nas-title">
                                                <div class="col-md-1 col-sm-3 col-xs-4 nas-col nas-title-content">
                                                    Link web:
                                                </div>
                                                <div class="col-md-11 col-sm-9 col-xs-8 nas-col">
                                                    <input style="width:100%" placeholder="Nhập link web..." />
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 nas-title">
                                                <div class="col-md-1 col-sm-3 col-xs-4 nas-col nas-title-content-check">
                                                    Kích hoạt:
                                                </div>
                                                <div class="col-md-11 col-sm-9 col-xs-8 nas-col">
                                                    <input class="nas-checkbox" type="checkbox" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-5 col-xs-12 nas-col">
                                            <div class="nas-logo col-md-9 nas-col">
                                                <a href="/"><img id="my_image" src="Content/Images/logo.png" width="100%" title="NAAN Solution - Giải pháp quản lý khách sạn, phần mềm quản lý doanh nghiệp" alt="NAAN Solution - Giải pháp quản lý khách sạn, phần mềm quản lý doanh nghiệp" /></a>
                                            </div>
                                            <div class="col-md-3 nas-col">
                                                <button type="button" id="Browse" title="Chọn ảnh từ server">...</button>
                                            </div>
                                            <script>
                                                //Xử lý click nút Browse hiện popup CKFinder
                                                $('#Browse').click(function () {
                                                    var finder = new CKFinder();
                                                    finder.selectActionFunction = function (fileUrl) {
                                                        //Chỉ lấy tên ảnh
                                                        //fileUrl = fileUrl.substring(fileUrl.lastIndexOf('/') + 1);
                                                        $("#my_image").attr("src", fileUrl);
                                                    };
                                                    finder.popup();
                                                })
                                            </script>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-12 col-sm-12 col-xs-12 nas-col nas-title">
                                            Nội dung:
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 nas-col nas-ckeditor">
                                            <textarea id="txtContentVN"></textarea>
                                            <script type="text/javascript">
                                                CKEDITOR.replace("txtContentVN");
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nas-button">
                                        <button type="button" class="btn btn-primary">
                                            Lưu
                                        </button>
                                        <button type="button" class="btn btn-warning">
                                            Huỷ bỏ
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="en">
                                <div class="col-md-12 col-sm-12 col-xs-12 nas-col" style="margin:10px 0">
                                    <div class="col-md-12 col-sm-12 col-xs-12 nas-col">
                                        <div class="col-md-10 col-sm-7 col-xs-12 nas-col">
                                            <div class="col-md-12 col-sm-12 col-xs-12 nas-title">
                                                <div class="col-md-1 col-sm-3 col-xs-4 nas-col nas-title-content">
                                                    Title:
                                                </div>
                                                <div class="col-md-11 col-sm-9 col-xs-8 nas-col">
                                                    <input style="width:100%" placeholder="Enter title..." />
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 nas-title">
                                                <div class="col-md-1 col-sm-3 col-xs-4 nas-col nas-title-content">
                                                    Link web:
                                                </div>
                                                <div class="col-md-11 col-sm-9 col-xs-8 nas-col">
                                                    <input style="width:100%" placeholder="Enter link web..." />
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 nas-title">
                                                <div class="col-md-1 col-sm-3 col-xs-4 nas-col nas-title-content-check">
                                                    Actived:
                                                </div>
                                                <div class="col-md-11 col-sm-9 col-xs-8 nas-col">
                                                    <input class="nas-checkbox" type="checkbox" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-5 col-xs-12 nas-col">
                                            <div class="nas-logo col-md-9 nas-col">
                                                <a href="/"><img id="my_imageEN" src="Content/Images/logo.png" width="100%" title="NAAN Solution - Giải pháp quản lý khách sạn, phần mềm quản lý doanh nghiệp" alt="NAAN Solution - Giải pháp quản lý khách sạn, phần mềm quản lý doanh nghiệp" /></a>
                                            </div>
                                            <div class="col-md-3 nas-col">
                                                <button type="button" id="BrowseEN" title="Browse from server">...</button>
                                            </div>
                                            <script>
                                                //Xử lý click nút Browse hiện popup CKFinder
                                                $('#BrowseEN').click(function () {
                                                    var finder = new CKFinder();
                                                    finder.selectActionFunction = function (fileUrl) {
                                                        //Chỉ lấy tên ảnh
                                                        //fileUrl = fileUrl.substring(fileUrl.lastIndexOf('/') + 1);
                                                        $("#my_imageEN").attr("src", fileUrl);
                                                    };
                                                    finder.popup();
                                                })
                                            </script>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-12 col-sm-12 col-xs-12 nas-col nas-title">
                                            Content:
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 nas-col nas-ckeditor">
                                            <textarea id="txtContentEN"></textarea>
                                            <script type="text/javascript">
                                                CKEDITOR.replace("txtContentEN");
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nas-button">
                                        <button type="button" class="btn btn-primary">
                                            Lưu
                                        </button>
                                        <button type="button" class="btn btn-warning">
                                            Huỷ bỏ
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>
