<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - NAAN Solution</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="NAAN Solution" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keyword" content="Template, Theme, Responsive, Fluid, Retina" />
    <link href="~/Content/StyleSheets/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/StyleSheets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/StyleSheets/style.css" rel="stylesheet" />
    <link href="~/Content/StyleSheets/style-responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/Content/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
