.banner-img {
    position: relative;
    padding: 10% 0;
    /*margin-bottom: 30px;*/
}
 .amarin{
    background: #808080 url('../../../Images/restaurantbar/restaurant.jpg') center bottom no-repeat  fixed;
    background-size: cover;
} 
.galina-beach{
    background: #808080 url('../../../Images/restaurantbar/restaurant1.jpg') center bottom no-repeat fixed;
    background-size:cover;
} 
.hibis-bar{
    background: #808080 url('../../../Images/restaurantbar/bar.jpg') center bottom no-repeat fixed;
    background-size:cover;
} 
.pool-party{
     background: #808080 url('../../../Images/services/pool-party.jpg') center bottom no-repeat fixed;
    background-size:cover;
}
.family-cinema{
     background: #808080 url('../../../Images/services/family-cinema.jpg') center bottom no-repeat fixed;
    background-size:cover;
}
.billiard{
     background: #808080 url('../../../Images/services/billard.jpg') center bottom no-repeat fixed;
    background-size:cover;
}
.kids-playground{
     background: #808080 url('../../../Images/services/kids-playground.jpg') center bottom no-repeat fixed;
    background-size:cover;
}
.live-music{
     background: #808080 url('../../../Images/services/live-music.jpg') center bottom no-repeat fixed;
    background-size:cover;
}
.name-room-hotel {
    position: relative;
    z-index: 3;
}

    .name-room-hotel h2 {
        font-size: 2.2em;
        font-weight: 800;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: -.5px;
    }

    .name-room-hotel p {
        font-size: 1.2em;
        color: #fff;
    }

.yaw-introduce-restaurantbar .padding-content h1 {
    font-size: 2.7em;
    font-weight: 800;
    margin-bottom: 30px;
}

.padding-content {
    padding: 20px 15% 40px;
    text-align: justify;
    text-align-last: center;
}

.yaw-restaurantbar-item {
    overflow: auto;
    text-align: center;
}
/*.aaa:nth-child(3n+1){
    clear:both;
}*/

    .yaw-restaurantbar-item .img {
        width: 100%;

        margin: auto;
        overflow:hidden;
        position:relative;
    }

    .yaw-restaurantbar-item h3 {
        text-transform: uppercase;
        font-weight: 600;
            margin: 15px 0;
        font-size: 1.2em;
    }

.yaw-service-restaurantbar {
    overflow: hidden;
    padding: 0 5%;
}

    .yaw-service-restaurantbar h1 {
        font-size: 1.7em;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: 600;
        margin: 0 0 15px 0;
    }

.icon-menu {
    text-align: center;
    margin-bottom: 25px;
    position: relative;
    z-index: 3;
}

    .icon-menu:before {
        content: '';
        position: absolute;
        width: 10%;
        height: 2px;
        left: 36%;
        top: 17px;
        z-index: 2;
        background: #232323;
    }

    .icon-menu:after {
        content: '';
        position: absolute;
        width: 10%;
        height: 2px;
        right: 36%;
        top: 17px;
        z-index: 2;
        background: #232323;
    }

.img img {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    opacity:.8;
    width:100%;
}

.yaw-restaurantbar-item:hover .img img {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    opacity:.9;
}
.yaw-restaurantbar-item .img p:before, .yaw-restaurantbar-item .img p:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    opacity: .9;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.yaw-restaurantbar-item .img p:before {
    border-right: 3px solid ;
    border-bottom: 3px solid ;
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    -o-transform-origin: bottom right;
}
.yaw-restaurantbar-item .img p:after {
    border-left: 3px solid ;
    border-top: 3px solid ;
    -webkit-transform-origin: top left ;
    -moz-transform-origin: top left ;
    -ms-transform-origin: top left ;
    -o-transform-origin: top left ;
}
.yaw-restaurantbar-item:hover .img p:before, .yaw-restaurantbar-item:hover .img p:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.yaw-restaurantbar-item:hover .yaw-restaurantbar-item h3{
    color:#790f26;
}

@media screen and (min-width:500px) and (max-width:768px) {
    .aaa{
        width:50%;
        float:left;
    }
}

@media screen and (max-width:499px) {
    .yaw-restaurantbar-item .img {
        width: 100%;
        float: none;
        margin-right: 0;
    }

        .yaw-restaurantbar-item .img img {
            width: 100% !important;
        }

    .yaw-restaurantbar-item .text {
        display: inline-block;
        margin: 15px 0;
    }
}
@media screen and (max-width:480px){
    .padding-content p{
        letter-spacing:-1px;
        font-size:1.1em;
    }
     .padding-content{
            padding: 20px 5% 40px;
    text-align: justify;
    text-align-last:center;
    }
         .icon-menu:after {
    right: 30%;
}
        .icon-menu:before {
    left: 30%;
}
        .yaw-restaurantbar-item h3{
            margin:5px 0;
        }
}

/*Services*/
 .yaw-allservices .services-box h3 {
            display: inline-block;
            font-size: 1.4em;
            margin: 0;
        }

        .yaw-allservices .services-box p.price {
            float: right;
            font-size: 1.2em;
            color: #790f26;
            font-weight: bold;
        }

        .yaw-allservices {
            overflow: hidden;
            padding: 0 10%;
        }

            .yaw-allservices .services-box {
                margin: 15px 0;
            }